<div class="match">
   <div class="h6">
      14. dubna
   </div>
   <div class="match__teams mt-5">
      <div class="match__team">
         <img src="images/ico/logo.svg" loading="lazy" alt="" />
      </div>
      <div class="match__score">
         4:2
      </div>
      <div class="match__team">
         <img src="images/ico/logo.svg" loading="lazy" alt="" />
      </div>
      <h3 class="h6 mt-4 mb-4">
         SC Marimex Kolín
         <span>vs</span>
         HC Slavia Praha
      </h3>
     <div class="match__descr">Přátelské utkání</div>
   </div>
   <ul class="match__links">
      <li>
         <a href="#">
            {% include "@images/match-info.svg" %}
         </a>
      </li>
      <li>
         <a href="#">
            {% include "@images/match-video.svg" %}
         </a>
      </li>
      <li>
         <a href="#">
            {% include "@images/match-radio.svg" %}
         </a>
      </li>
      <li>
         <a href="#">
            {% include "@images/match-photo.svg" %}
         </a>
      </li>
   </ul>
</div>