<section class="c-article-section">
   <div class="container">
      <div class="d-flex align-items-center mb-2">
         <div class="tag">MLÁDEŽ</div>
         <div class="date">19. dubna 2022</div>
      </div>
      <h1 class="h1">3. ročník projektu O Kapku lepší hokej zajistil dětem přes 900 000!</h1>
   </div>
   </div>
      <div class="o-content">
         <h2 class="h3">
            Co nabízíme
         </h2>
         <ul>
            <li>
               <strong>Termín:</strong> 10.06.2022
            </li>
            <li>
               <strong>Místo:</strong> ZS Moutnice
            </li>
            <li>
               <strong>Cena:</strong> 	1 400 Kč
            </li>
            <li>
               <strong>Platba</strong> Cena je splatná na místě v den konání akce.
            </li>
         </ul>
         <p>
            <strong>SHS Hockey:</strong> Projekt, který dává možnost hráčům pracovat nad rámec klubové aktivity. Zaměřujeme se na komplexní rozvoj hráčů ledního hokeje s důrazem na jednotlivé schopnosti, dovednosti a jejich správné provedení. Cílem je rozvoj hokejových dovedností a jejich transfer do samotné hry. <a href="#">Chceme hráče neustále</a> posouvat na lepší úroveň a pomoct jim v jejich hokejovém růstu. Pro hráče pořádáme jednotlivé tréninky, campy, soustředění, utkání, turnaje, ale i další zajímavé akce.
         </p>
         <p>
            <strong>SHS Hockey:</strong> Projekt, který dává možnost hráčům pracovat nad rámec klubové aktivity. Zaměřujeme se na komplexní rozvoj hráčů ledního hokeje s důrazem na jednotlivé schopnosti, dovednosti a jejich správné provedení. Cílem je rozvoj hokejových dovedností a jejich transfer do samotné hry. <a href="#">Chceme hráče neustále</a> posouvat na lepší úroveň a pomoct jim v jejich hokejovém růstu. Pro hráče pořádáme jednotlivé tréninky, campy, soustředění, utkání, turnaje, ale i další zajímavé akce.
         </p>
         <h3>Časový program akce: </h3>
         <ul>
            <li>
               10:00 – 11:00 / trénink na ledě
            </li>
            <li>
               11:15 – 12:15 / trénink na ledě
            </li>
         </ul>
         <div class="row g-10">
            <div class="col-md-5">
               <h2 class="h3">Poznámka:</h2>
               <p>
                  Na tuto akci se můžou přihlásit hráči ročníku 2007 – 2014. V případě zájmu je nutná objednávka prostřednictvím rezervačního systému. Počet míst je omezen.
               </p>
            </div>
            <div class="col-md-5">
               <h2 class="h3">Dotazy:</h2>
               <p>
                  Mgr. Luboš Voříšek / +420 606 332 012 / vorisek19@gmail.com.
               </p>
            </div>
         </div>
         <table>
            <thead>
               <tr>
                  <th>První sloupec</th>
                  <th>Druhý sloupec</th>
                  <th>Třetí a poslední sloupec</th>
               </tr>
            </thead>
            <tbody>
                  <tr>
                     <td><a href="@">Obsah prvního sloupc</a></td>
                     <td>Další obsah sloupce</td>
                     <td>Obsah třetího a posledního sloupce, který je tentokrát o něco delší.</td>
                  </tr>
                  <tr>
                     <td>Obsah prvního sloupce</td>
                     <td>Další obsah sloupce</td>
                     <td>Obsah třetího a posledního sloupce, který je tentokrát o něco delší.</td>
                  </tr>
                  <tr>
                     <td>Obsah prvního sloupce</td>
                     <td>Další obsah sloupce</td>
                     <td>Obsah třetího a posledního sloupce, který je tentokrát o něco delší.</td>
                  </tr>
            </tbody>
         </table>
      </div>
</section>