<section class="c-article-section">
  <div class="container-fluid">
    <div class="row">
      <div class="d-flex align-items-center mb-2">
        <div class="tag">MLÁDEŽ</div>
        <div class="date px-2 d-block">19. dubna 2022</div>
      </div>
      <div class="o-content">
        <h1 class="h1">Velikonoční nadílka nových smluv pro Hradec i Kolín</h1>
        <img src="images/content/clanek-1.jpg" loading="lazy" alt="clanek-1" />
        <div class="col-md-10 col-lg-8 mx-auto">
          <p class="p1">
            Kolínský hokejový klub obdržel od společnosti Toyota finanční
            příspěvek na vybavení tělocvičny pro mládež, v uplynulých dnech
            prezident Toyoty Koreatsu Aoki na zimním stadionu přestřihl pásku v
            tělocvičně a prohlédl si spolu se zástupci klubu nově nakoupené
            vybavení.
          </p>
          <p>
            V průběhu uplynulého ročníku se výměnou za Ondřeje Kachyňu přesunul
            k Labi zadák Ján Niko, jenž se ihned stal jedním z nejdůležitějších
            článků defenzívy, se kterou výrazně dopomohl k záchraně a následné
            účasti v předkole vyřazovacích bojů. Jedenatřicetiletý obránce nyní
            u Kozlů bude pokračovat i v sezóně 2022/23. „<strong
              >Honza byl pro nás jasnou volbou. Prokázal u nás svoje schopnosti,
              je to velký bojovník, důrazný obránce, a hlavně velký profesionál.
              Navíc je to pravák s výbornou střelou, který nám chyběl na
              přesilovku. Jsme velice rádi, že další sezonu spojí s naší
              organizací a svými zkušenostmi nám pomůže i při výchově mladých
              hráčů,</strong
            >“ říká hlavní trenér SC Marimex Kolín Petr Martínek.
          </p>
          <hr />
          <h2 class="h2">Nadpis podsekce</h2>
          <iframe
            src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FSCKOLINHOKEJ%2Fvideos%2F499727192313420%2F&show_text=false&width=560&t=0"
            width="800"
            height="314"
            style="border: none; overflow: hidden"
            scrolling="no"
            frameborder="0"
            allowfullscreen="true"
            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
          >
          </iframe>
          <p>
            Dalším zkušeným hráčem v kádru Kolína byl v sezóně 2021/22 útočník
            Jakub Sklenář. Čtyřiatřicetiletý hokejista své zkušenosti prokazoval
            zejména během oslabení, ve kterých byl jedním z nejčastěji
            využívaných hráčů týmu. Svou pracovitost bude moci prokázat i v nové
            sezóně, kterou stráví znovu v Kolíně. „O Jakubových zkušenostech
            vůbec nelze polemizovat. Neměl sice ideální vstup do loňské sezony,
            trošku se s novou soutěží seznamoval, ale postupem času, hlavně v
            druhé polovině soutěže, prokázal vynikající kvality hlavně v
            defenzivní činnosti, byl na něj obrovský spoleh. Byla to jasná volba
            a jsme rádi, že došlo k vzájemné domluvě mezi ním a naší organizací
            a těšíme se na jeho výkony a práci pro tým,“ dodává hlavní kouč Petr
            Martínek.
          </p>
          <iframe
            src="https://www.eliteprospects.com/iframe_player_stats.php?player=22763"
            width="100%"
            height="1135"
            scrolling="no"
            frameborder="0"
          >
          </iframe>
          <p>
            V Kolíně Zdeněk Král hokejově vyrostl, aby se přesunul do
            ambiciózního extraligového Liberce. V současnosti šestadvacetiletý
            hokejista se ale do klubu svého mládí vrátil díky postupu Kolína do
            Chance ligy, po kterém se hned zařadil mezi nejproduktivnější hráče
            – během dvou ročníků nasbíral hned 70 kanadských bodů (15+55). U
            Kozlů nyní přidá třetí sezónu v řadě. „Zdenda se dostává do
            nejlepších hokejových let, je to jeden z nejšikovnějších hokejistů v
            celé soutěži. Je to výborný kluk do kabiny, a pokud ještě vezme více
            hru na sebe, tak by se mohl stát jednou z výrazných osobností nejen
            našeho mužstva, ale i celé soutěže. Jsme velice rádi, že se nám ho
            podařilo udržet a máme ho v týmu,“ dodává Petr Martínek.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <blockquote>
      <p>
        Oprávněné aniž i odstoupil o snadno osoby vede grafikou osobami úmyslu
        60 % poskytovat, dělí způsobem, § 36 veletrhu pověřit spravují zřejmém,
        k před platbě státu zvláštních tuzemsku.
      </p>
      <span> citoval František Hranfrantrkal </span>
    </blockquote>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">
        <div class="o-content">
          <p>
            Výše jmenovaní hokejisté budou v sezóně 2022/23 hájit barvy klubu SC
            Marimex Kolín, již dříve bylo potvrzeno setrvání obránců Miroslava
            Kukly či Reného Piegla a také útočníků Jana Veselého a Matěje
            Moronga. Barvy Kolína by měl rovněž v rámci spolupráce s
            Mountfieldem HK hájit velezkušený Petr Koukal, k dispozici může být
            i Martin Štohanzl. Kontrakt běží rovněž kolínskému rodákovi Zdeňku
            Čápovi.
          </p>
          <p>
            Naopak s kolínským klubem se po jedné sezóně loučí obránce Václav
            Čížek, jemuž nebyl prodloužen kontrakt. „Václav splnil to, proč jsme
            ho do Kolína brali. Je to výborný obránce, skvělý kluk, velký
            profesionál. Že už nebude dále v Kolíně působit nás mrzí, vzhledem k
            jeho morálním kvalitám, ale jeho vytíženost v utkáních by klesala,
            chceme dát příležitost nadějným obráncům s potenciálem hrát stabilně
            Chance ligu, kteří mají šanci pokusit se zabojovat o extraligu. Za
            jeho služby pro náš tým mu moc děkujeme a přejeme mu v dalším
            hokejovém, ale i civilním životě, hodně štěstí,“ říká Petr Martínek.
          </p>
          <p>
            O jednání s dalšími hráči bude klub informovat na svém webu v
            následujících dnech. Stejně jako o nových posilách kolínského
            A-týmu.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="o-content">
      <div class="row g-md-6 g-3 js-gallery gallery">
        <div class="col-6">
          <figure>
            <img
              src="https://via.placeholder.com/496x312"
              loading="lazy"
              alt=""
            />
          </figure>
        </div>
        <div class="col-6">
          <figure>
            <img
              src="https://via.placeholder.com/496x312"
              loading="lazy"
              alt=""
            />
          </figure>
        </div>
        <div class="col">
          <figure>
            <img
              src="https://via.placeholder.com/184x144"
              loading="lazy"
              alt=""
            />
          </figure>
        </div>
        <div class="col-md col-4">
          <figure>
            <img
              src="https://via.placeholder.com/184x144"
              loading="lazy"
              alt=""
            />
          </figure>
        </div>
        <div class="col-md col-4">
          <figure>
            <img
              src="https://via.placeholder.com/184x144"
              loading="lazy"
              alt=""
            />
          </figure>
        </div>
        <div class="col-md col-6">
          <figure>
            <img
              src="https://via.placeholder.com/184x144"
              loading="lazy"
              alt=""
            />
          </figure>
        </div>
        <div class="col-md col-6">
          <figure>
            <img
              src="https://via.placeholder.com/184x144"
              loading="lazy"
              alt=""
            />
          </figure>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto">
            <p>
              V průběhu uplynulého ročníku se výměnou za Ondřeje Kachyňu
              přesunul k Labi zadák Ján Niko, jenž se ihned stal jedním z
              nejdůležitějších článků defenzívy, se kterou výrazně dopomohl k
              záchraně a následné účasti v předkole vyřazovacích bojů.
              Jedenatřicetiletý obránce nyní u Kozlů bude pokračovat i v sezóně
              2022/23. „<strong
                >Honza byl pro nás jasnou volbou. Prokázal u nás svoje
                schopnosti, je to velký bojovník, důrazný obránce, a hlavně
                velký profesionál. Navíc je to pravák s výbornou střelou, který
                nám chyběl na přesilovku. Jsme velice rádi, že další sezonu
                spojí s naší organizací a svými zkušenostmi nám pomůže i při
                výchově mladých hráčů,</strong
              >“ říká hlavní trenér SC Marimex Kolín Petr Martínek.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
