<section class="c-newsboard-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-md-6">
        <div class="c-newsboard__news">
          <a class="link mb-6" href="#">
            <h3 class="h2">Krátké zprávy</h3>
            {% include "@images/link.svg" %}
          </a>
          <div class="c-newsboard__news-item">
            <span>12. dubna 2022</span>
            <p>
              Třetí kolo dobročinné sbírky, která se zaměřuje na pomoc dětem
              s poruchou krvetvorby, přineslo Nadačnímu fondu Kapka naděje 905
              282 korun!
            </p>
          </div>
          <div class="c-newsboard__news-item">
            <span>12. dubna 2022</span>
            <p>
              Třetí kolo dobročinné sbírky, která se zaměřuje na pomoc dětem
              s poruchou krvetvorby, přineslo Nadačnímu fondu Kapka naděje 905
              282 korun!
            </p>
          </div>
          <div class="c-newsboard__news-item">
            <span>12. dubna 2022</span>
            <p>
              Třetí kolo dobročinné sbírky, která se zaměřuje na pomoc dětem
              s poruchou krvetvorby, přineslo Nadačnímu fondu Kapka naděje 905
              282 korun!
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <h3 class="h2 mb-6">Články</h3>
        <a class="c-topstory__item mb-6" href="#">
          <div class="c-topstory__img">
            <img
              src="images/content/clanek-1.jpg"
              loading="lazy"
              alt="clanek-1"
            />
          </div>
          <div class="c-topstory__info px-4 py-2">
            <div class="d-flex align-items-center mb-1">
              <div class="tag">A-tým</div>
              <div class="date">19. dubna 2022</div>
            </div>
            <h2 class="h5">
              3. ročník projektu O Kapku lepší hokej zajistil dětem přes 900
              000!
            </h2>
          </div>
        </a>
        <a class="c-topstory__item mb-6" href="#">
          <div class="c-topstory__img">
            <img
              src="images/content/clanek-1.jpg"
              loading="lazy"
              alt="clanek-1"
            />
          </div>
          <div class="c-topstory__info px-4 py-2">
            <div class="d-flex align-items-center mb-1">
              <div class="tag">A-tým</div>
              <div class="date">19. dubna 2022</div>
            </div>
            <h2 class="h5">
              3. ročník projektu O Kapku lepší hokej zajistil dětem přes 900
              000!
            </h2>
          </div>
        </a>
      </div>
      <div class="col-xl-4">
        <div class="c-newsboard__table">
          <a class="link mb-6" href="#">
            <h3 class="h2">Tabulka</h3>
            {% include "@images/link.svg" %}
          </a>
          <div class="o-content">
            <table>
              <thead>
                <tr>
                  <th>#</th>
                  <th>Tým</th>
                  <th>Z</th>
                  <th>Skóre</th>
                  <th><strong>B</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>4</td>
                  <td>
                    <img src="images/ico/logo.svg" loading="lazy" alt="" />
                    Jihlava
                  </td>
                  <td>48</td>
                  <td>179:112</td>
                  <td><strong>92</strong></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>
                    <img src="images/ico/logo.svg" loading="lazy" alt="" />
                    Jihlava
                  </td>
                  <td>48</td>
                  <td>179:112</td>
                  <td><strong>92</strong></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>
                    <img src="images/ico/logo.svg" loading="lazy" alt="" />
                    Jihlava
                  </td>
                  <td>48</td>
                  <td>179:112</td>
                  <td><strong>92</strong></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>
                    <img src="images/ico/logo.svg" loading="lazy" alt="" />
                    Jihlava
                  </td>
                  <td>48</td>
                  <td>179:112</td>
                  <td><strong>92</strong></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>
                    <img src="images/ico/logo.svg" loading="lazy" alt="" />
                    Jihlava
                  </td>
                  <td>48</td>
                  <td>179:112</td>
                  <td><strong>92</strong></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>
                    <img src="images/ico/logo.svg" loading="lazy" alt="" />
                    Jihlava
                  </td>
                  <td>48</td>
                  <td>179:112</td>
                  <td><strong>92</strong></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>
                    <img src="images/ico/logo.svg" loading="lazy" alt="" />
                    Jihlava
                  </td>
                  <td>48</td>
                  <td>179:112</td>
                  <td><strong>92</strong></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>
                    <img src="images/ico/logo.svg" loading="lazy" alt="" />
                    Jihlava
                  </td>
                  <td>48</td>
                  <td>179:112</td>
                  <td><strong>92</strong></td>
                </tr>
                <tr>
                  <td><strong>9</strong></td>
                  <td>
                    <img src="images/ico/logo.svg" loading="lazy" alt="" />
                    <strong>Kolín</strong>
                  </td>
                  <td>48</td>
                  <td>179:112</td>
                  <td><strong>92</strong></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>
                    <img src="images/ico/logo.svg" loading="lazy" alt="" />
                    Jihlava
                  </td>
                  <td>48</td>
                  <td>179:112</td>
                  <td><strong>92</strong></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>
                    <img src="images/ico/logo.svg" loading="lazy" alt="" />
                    Jihlava
                  </td>
                  <td>48</td>
                  <td>179:112</td>
                  <td><strong>92</strong></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>
                    <img src="images/ico/logo.svg" loading="lazy" alt="" />
                    Jihlava
                  </td>
                  <td>48</td>
                  <td>179:112</td>
                  <td><strong>92</strong></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
