.c-newsboard-section {
  padding: 56px 0 32px;
  @include media-breakpoint-down(md) {
    padding: 32px 0;
  }
}
.c-newsboard__news {
  &-wrapper {
    max-height: 500px;
    padding-right: 16px;
    overflow-y: scroll;
  }
  &-item {
    margin-bottom: 32px;
    span {
      font-weight: 700;
      font-size: 12px;
      line-height: 122%;
      display: block;
      letter-spacing: -0.01em;
      color: var(--color-gray);
      margin-bottom: 8px;
    }
  }
}
.c-newsboard__action {
  &-logo {
    width: 88px;
    height: 88px;
    margin-right: 16px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &-item {
    text-decoration-color: transparent;
    color: inherit;
    display: flex;
    padding: 16px;
    align-items: center;
    border: 1px solid transparent;
    transition: border 0.3s;
    margin-bottom: 24px;
    &:hover {
      border: 1px solid var(--color-blue);
    }
  }
  &-info {
    .date {
      font-weight: 700;
      font-size: 16px;
      line-height: 122%;
      color: var(--color-blue);
    }
    p {
      font-weight: 700;
      font-size: 12px;
      line-height: 122%;
      color: var(--color-gray);
    }
  }
}
.c-newsboard__table {
  tr {
    th,
    td {
      width: 50px;
      text-align: center;
    }
    td:nth-child(2),
    th:nth-child(2) {
      display: flex;
      align-items: center;
      text-align: left;
      width: 100%;
    }
  }
  td {
    img {
      width: 23px;
      height: 23px;
      object-fit: contain;
      display: inline-block;
      margin-right: 8px;
    }
  }
}
