.c-team{
  &-section{
    padding-bottom: 40px;
    @include media-breakpoint-down(md){
      padding-bottom: 20px;
    }
  }
  &__item{
    display: flex;
    text-decoration: none;
    margin-bottom: 32px;
    align-items: center;
    &:hover{
      .c-team__info span{
        text-decoration-color: var(--color-blue);
      }
      .c-team__img span{
        opacity: 1;
      }
    }
  }
  &__img{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    span{
      transition: all .3s;
      opacity: 0;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      font-size: 32px;
      color: var(--color-light);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-blue);
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__info{
    color: var(--color-blue);
    padding-left: 24px;
    @include media-breakpoint-down(md){
      padding-left: 16px;
    }
    span{
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: all .3s;
      display: block;
      font-weight: 700;
      font-size: 18px;
      line-height: 23px;
      letter-spacing: -0.01em;
      margin-bottom: 6px;
    }
  }
}