<section class="c-team-section team">
   <div class="c-team-section__items">
        <div class="container">
         <h2 class="h2 mb-4" id="brankari">
            Brankáři
         </h2>
         <ul class="row" >
            <li class="col-lg-4 col-sm-6">
               <a  class="c-team__item" href="#">
                  <div class="c-team__img">
                     <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                     <span>99</span>
                  </div>
                  <div class="c-team__info">
                     <span>Karel Novotný</span>
                     <p class="p3">
                        21 let / 21. 12. 2000 / 177 cm / 76 kg / L
                     </p>
                  </div>
               </a>
            </li>
            <li class="col-lg-4 col-sm-6">
               <a  class="c-team__item" href="#">
                  <div class="c-team__img">
                     <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                     <span>99</span>
                  </div>
                  <div class="c-team__info">
                     <span>Karel Novotný</span>
                     <p class="p3">
                        21 let / 21. 12. 2000 / 177 cm / 76 kg / L
                     </p>
                  </div>
               </a>
            </li>
            <li class="col-lg-4 col-sm-6">
               <a  class="c-team__item" href="#">
                  <div class="c-team__img">
                     <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                     <span>99</span>
                  </div>
                  <div class="c-team__info">
                     <span>Karel Novotný</span>
                     <p class="p3">
                        21 let / 21. 12. 2000 / 177 cm / 76 kg / L
                     </p>
                  </div>
               </a>
            </li>
         </ul>
         <h2 class="h2 mb-4" id="obranci">
            Obránci
         </h2>
         <ul class="row" >
            <li class="col-lg-4 col-sm-6">
               <a  class="c-team__item" href="#">
                  <div class="c-team__img">
                     <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                     <span>99</span>
                  </div>
                  <div class="c-team__info">
                     <span>Karel Novotný</span>
                     <p class="p3">
                        21 let / 21. 12. 2000 / 177 cm / 76 kg / L
                     </p>
                  </div>
               </a>
            </li>
            <li class="col-lg-4 col-sm-6">
               <a  class="c-team__item" href="#">
                  <div class="c-team__img">
                     <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                     <span>99</span>
                  </div>
                  <div class="c-team__info">
                     <span>Karel Novotný</span>
                     <p class="p3">
                        21 let / 21. 12. 2000 / 177 cm / 76 kg / L
                     </p>
                  </div>
               </a>
            </li>
            <li class="col-lg-4 col-sm-6">
               <a  class="c-team__item" href="#">
                  <div class="c-team__img">
                     <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                     <span>99</span>
                  </div>
                  <div class="c-team__info">
                     <span>Karel Novotný</span>
                     <p class="p3">
                        21 let / 21. 12. 2000 / 177 cm / 76 kg / L
                     </p>
                  </div>
               </a>
            </li>
            <li class="col-lg-4 col-sm-6">
               <a  class="c-team__item" href="#">
                  <div class="c-team__img">
                     <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                     <span>99</span>
                  </div>
                  <div class="c-team__info">
                     <span>Karel Novotný</span>
                     <p class="p3">
                        21 let / 21. 12. 2000 / 177 cm / 76 kg / L
                     </p>
                  </div>
               </a>
            </li>
            <li class="col-lg-4 col-sm-6">
               <a  class="c-team__item" href="#">
                  <div class="c-team__img">
                     <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                     <span>99</span>
                  </div>
                  <div class="c-team__info">
                     <span>Karel Novotný</span>
                     <p class="p3">
                        21 let / 21. 12. 2000 / 177 cm / 76 kg / L
                     </p>
                  </div>
               </a>
            </li>
            <li class="col-lg-4 col-sm-6">
               <a  class="c-team__item" href="#">
                  <div class="c-team__img">
                     <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                     <span>99</span>
                  </div>
                  <div class="c-team__info">
                     <span>Karel Novotný</span>
                     <p class="p3">
                        21 let / 21. 12. 2000 / 177 cm / 76 kg / L
                     </p>
                  </div>
               </a>
            </li>
            <li class="col-lg-4 col-sm-6">
               <a  class="c-team__item" href="#">
                  <div class="c-team__img">
                     <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                     <span>99</span>
                  </div>
                  <div class="c-team__info">
                     <span>Karel Novotný</span>
                     <p class="p3">
                        21 let / 21. 12. 2000 / 177 cm / 76 kg / L
                     </p>
                  </div>
               </a>
            </li>
            <li class="col-lg-4 col-sm-6">
               <a  class="c-team__item" href="#">
                  <div class="c-team__img">
                     <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                     <span>99</span>
                  </div>
                  <div class="c-team__info">
                     <span>Karel Novotný</span>
                     <p class="p3">
                        21 let / 21. 12. 2000 / 177 cm / 76 kg / L
                     </p>
                  </div>
               </a>
            </li>
         </ul>
         <h2 class="h2 mb-4" id="utocnici">
            Útočníci
         </h2>
         <ul class="row" >
            <li class="col-lg-4 col-sm-6">
               <a  class="c-team__item" href="#">
                  <div class="c-team__img">
                     <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                     <span>99</span>
                  </div>
                  <div class="c-team__info">
                     <span>Karel Novotný</span>
                     <p class="p3">
                        21 let / 21. 12. 2000 / 177 cm / 76 kg / L
                     </p>
                  </div>
               </a>
            </li>
            <li class="col-lg-4 col-sm-6">
               <a  class="c-team__item" href="#">
                  <div class="c-team__img">
                     <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                     <span>99</span>
                  </div>
                  <div class="c-team__info">
                     <span>Karel Novotný</span>
                     <p class="p3">
                        21 let / 21. 12. 2000 / 177 cm / 76 kg / L
                     </p>
                  </div>
               </a>
            </li>
            <li class="col-lg-4 col-sm-6">
               <a  class="c-team__item" href="#">
                  <div class="c-team__img">
                     <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                     <span>99</span>
                  </div>
                  <div class="c-team__info">
                     <span>Karel Novotný</span>
                     <p class="p3">
                        21 let / 21. 12. 2000 / 177 cm / 76 kg / L
                     </p>
                  </div>
               </a>
            </li>
            <li class="col-lg-4 col-sm-6">
               <a  class="c-team__item" href="#">
                  <div class="c-team__img">
                     <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                     <span>99</span>
                  </div>
                  <div class="c-team__info">
                     <span>Karel Novotný</span>
                     <p class="p3">
                        21 let / 21. 12. 2000 / 177 cm / 76 kg / L
                     </p>
                  </div>
               </a>
            </li>
            <li class="col-lg-4 col-sm-6">
               <a  class="c-team__item" href="#">
                  <div class="c-team__img">
                     <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                     <span>99</span>
                  </div>
                  <div class="c-team__info">
                     <span>Karel Novotný</span>
                     <p class="p3">
                        21 let / 21. 12. 2000 / 177 cm / 76 kg / L
                     </p>
                  </div>
               </a>
            </li>
            <li class="col-lg-4 col-sm-6">
               <a  class="c-team__item" href="#">
                  <div class="c-team__img">
                     <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                     <span>99</span>
                  </div>
                  <div class="c-team__info">
                     <span>Karel Novotný</span>
                     <p class="p3">
                        21 let / 21. 12. 2000 / 177 cm / 76 kg / L
                     </p>
                  </div>
               </a>
            </li>
            <li class="col-lg-4 col-sm-6">
               <a  class="c-team__item" href="#">
                  <div class="c-team__img">
                     <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                     <span>99</span>
                  </div>
                  <div class="c-team__info">
                     <span>Karel Novotný</span>
                     <p class="p3">
                        21 let / 21. 12. 2000 / 177 cm / 76 kg / L
                     </p>
                  </div>
               </a>
            </li>
            <li class="col-lg-4 col-sm-6">
               <a  class="c-team__item" href="#">
                  <div class="c-team__img">
                     <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                     <span>99</span>
                  </div>
                  <div class="c-team__info">
                     <span>Karel Novotný</span>
                     <p class="p3">
                        21 let / 21. 12. 2000 / 177 cm / 76 kg / L
                     </p>
                  </div>
               </a>
            </li>

            <li class="col-lg-4 col-sm-6">
               <a  class="c-team__item" href="#">
                  <div class="c-team__img">
                     <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                     <span>99</span>
                  </div>
                  <div class="c-team__info">
                     <span>Karel Novotný</span>
                     <p class="p3">
                        21 let / 21. 12. 2000 / 177 cm / 76 kg / L
                     </p>
                  </div>
               </a>
            </li>
            <li class="col-lg-4 col-sm-6">
               <a  class="c-team__item" href="#">
                  <div class="c-team__img">
                     <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                     <span>99</span>
                  </div>
                  <div class="c-team__info">
                     <span>Karel Novotný</span>
                     <p class="p3">
                        21 let / 21. 12. 2000 / 177 cm / 76 kg / L
                     </p>
                  </div>
               </a>
            </li>
            <li class="col-lg-4 col-sm-6">
               <a  class="c-team__item" href="#">
                  <div class="c-team__img">
                     <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                     <span>99</span>
                  </div>
                  <div class="c-team__info">
                     <span>Karel Novotný</span>
                     <p class="p3">
                        21 let / 21. 12. 2000 / 177 cm / 76 kg / L
                     </p>
                  </div>
               </a>
            </li>
            <li class="col-lg-4 col-sm-6">
               <a  class="c-team__item" href="#">
                  <div class="c-team__img">
                     <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                     <span>99</span>
                  </div>
                  <div class="c-team__info">
                     <span>Karel Novotný</span>
                     <p class="p3">
                        21 let / 21. 12. 2000 / 177 cm / 76 kg / L
                     </p>
                  </div>
               </a>
            </li>
         </ul>
      </div>
   </div>
</section>