.c-match-section{
   padding-top: 80px;
   @include media-breakpoint-down(lg){
      padding-top: 40px;
   }
   hr{
      margin: 24px 0 ;
   }
   &__statistics{
      p{
         margin-bottom: 16px;
      }
   }
}