<section class="c-match-section">
   <div class="container-fluid">
      <div class="row">
         <div class="d-flex align-items-center mb-2">
            <div class="tag">MLÁDEŽ</div>
            <div class="date px-2 d-block">19. dubna 2022</div>
         </div>
         <div class="o-content">
            <h1 class="h1">
               Velikonoční nadílka nových smluv pro Hradec i Kolín
            </h1>
            <img src="images/content/clanek-1.jpg" loading="lazy" alt="clanek-1">
            <div class="col-md-10 col-lg-8 mx-auto">
               {% include "@components/match/match2.twig" %}
               <hr>
               <div class="c-match-section__statistics">
                  <div class="row">
                     <h2 class="h2">Branky</h2>
                     <div class="col-sm-6">
                        <p>
                           8. Michnáč (Žejdl, Vlček), 9. Poletín (Doležal, Zelingr), 14. Knotek (Kafka, Poletín), 19. Doležal (Kafka, Knotek), 27. Knotek (Žejdl, Poletín), 39. Žejdl (Poletín, Krejčí), 44. Kružík (Kafka, Knotek), 51. Michnáč (Kružík), 54. Žejdl (Knotek, Krejčí), 60. Kafka (Knotek, Krejčí)
                        </p>
                     </div>
                     <div class="col-sm-6">
                        <p>
                           4. Bambula (Dostálek, Hudeček), 30. Hudeček (Bambula, Kunc), 38. Hudeček (Dostálek), 52. Pechanec (Dostálek)
                        </p>
                     </div>
                  </div>
                  <hr>
                  <div class="row">
                     <h2 class="h2">Statistiky</h2>
                     <div class="col-sm-6">
                        <p>
                           <strong>Rozhodčí:</strong> Květoň, Petružálek – Flegl, Zíka
                        </p>
                        <p>
                           <strong>Vyloučení:</strong> 8:9
                        </p>
                        <p>
                           <strong>Využití:</strong> 6:2
                        </p>
                     </div>   
                     <div class="col-sm-6">
                        <p>
                           <strong>V oslabení:</strong>  0:0
                        </p>
                        <p>
                           <strong>Střely na branku:</strong> 39:28
                        </p>
                        <p>
                           <strong>Diváci:</strong> 652
                        </p>
                     </div>
                  </div>
                  <hr>
                  <div class="row">
                     <h2 class="h2">Sestavy</h2>
                     <div class="col-sm-6">
                        <p>
                           Michajlov – Krejčí, Havel, Barák, Hovorka, Veber, Zelingr, Duda – Kafka, Knotek, Kružík – Vlček, Žejdl, Michnáč – Doležal, Poletín, Ondráček – Pšenička, Kern, Šteiner
                        </p>
                     </div>
                     <div class="col-sm-6">
                        <p>
                           Fučík (21. Kořének) – Chroboček, Valenta, Mrowiec, Lytvynov, Kabelka, Hlaváč – Bednář, Pechanec, Hrubec – Maruna, Hudeček, Dostálek – Bambula, Veselý, Kunc – Mrva, Krupa, Damašek
                        </p>
                     </div>
                  </div>
               </div>
               <hr>
               <p class="p1">
                <strong>
                  Úvodní zápas nové sezony se sešívaným povedl na jedničku. Havířov se sice ujal vedení, ale domácí dokázali skóre otočit a pak si zvesela zastříleli. Směrem do útoku podali Pražané vynikající výkon a kromě zisku tří bodů je může těšit i šest využitých přesilovek.
                </strong>
               </p>
               <p>
                  Vstup do utkání vyšel lépe hostům. Hned v první minutě šel slávista Kafka pykat na čtyři minuty za hru vysokou holí a Havířov přesilovku využil. Dostálek nejprve z pravé strany trefil tyč, ale puk se odrazil k <strong>Janu Bambulovi,</strong> jenž dorážel do odkryté klece.
               </p>
               <p>
                  Sešívaní však dokázali dvěma slepenými góly otočit skóre na svou stranu. Nejprve se blýskl parádní sólovou akcí <strong>Albert Michnáč</strong>, když se prokličkoval mezi třemi obránci a zakončil mezi betony brankáře. A o 32 sekund později se prosadil opět střelou mezi betony <strong>Michal Poletín.</strong>
               </p>
               <p>
                  Havířov ztratil s vedením i elán do zápasu a Slavia začala na ledě úřadovat. Kafka v přesilovce nabil na levý kruh <strong>Tomáši Knotkovi</strong> a ten ranou z první překonal přesouvajícího se Fučíka. O pět minut později rozebrali domácí havířovskou obranu při ponechané výhodě. Kafka na sebe natáhl pozornost obránce i brankáře a posunul kotouč na <strong>Jiřího Doležala</strong>, který neměl problém zakončit.
               </p>
               <p>
                  Těsně před přestávkou mohl snížit hostující Pechanec, ale Michajlov se proti jeho nájezdu vytáhl výtečným zákrokem.
               </p>
               <h3 class="h2">
                  OHLASY TRENÉRŮ
               </h3>
               <p>
                  <strong>Pavel Kolařík (HC Slavia Praha):</strong> „Chtěli jsme vstoupit do sezony vítězně. Hráli jsme doma a určitě jsme nechtěli ztratit ani bod. Pro nás byl hodně těžký začátek, v prvním střídání jsme šli do oslabení na čtyři minuty a dostali jsme gól. To nás trochu přibrzdilo. Pak nám tam ale naštěstí napadaly góly. Myslím, že rozhodla produktivita a přesilovky. Soupeř nehrál špatně. Musím kluky pochválit, hráli opravdu dobře.“
               </p>
               <p>
                  <strong>Jiří Režnar (AZ Heimstaden Havířov):</strong> „Byli jsme svědci galakoncertu Slavie. Přijeli jsme se do Prahy podívat, jak se hraje hokej. Prvních šest minut jsme hráli slušně, jak jsme chtěli. Byli jsme aktivní, chtěli jsme soupeře napadat, dali jsme branku a měli jsme několik dalších šancí. Prvním gólem Slavie pro nás ale zápas skončil. Dostali jsme druhý, třetí a bylo po utkání. Slavia potom začala hrát výborně, hrála pěkný moderní hokej a zaslouženě vyhrála.“
               </p>
               
            </div>
         </div>
      </div>
   </div>
</section>
