<section class="c-player-detail-section bg-blue">
   <div class="c-player-detail-section__name">
      Karel Novotný
   </div>
   <div class="c-player-detail-section__inner">
      <div class="c-player__btn c-player__btn--left">
         <a href="/02.0_profil-hrace.html">
            <img src="images/ico/arrow-left.svg" alt="" loading="lazy">
         </a>
         <div class="c-player__btn-info">
            <span>52</span>
            <p>
               Karel Nový
            </p>
         </div>
      </div>
      <div class="c-player__btn c-player__btn--right">
         <div class="c-player__btn-info">
            <span>60</span>
            <p>
               Karel Nový
            </p>
         </div>
         <a href="/02.0_profil-hrace.html">
            <img src="images/ico/arrow-right.svg" alt="" loading="lazy">
         </a>
      </div>
      <div class="container-fluid">
         <div class="c-player">
            <div class="c-player__top">
               <div class="c-player__img">
                  <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
               </div>
               <div class="c-player__info">
                 <div class="c-player__info-date">
                  54
                 </div>
                 <h1 class="c-player__info-name">
                    <span>Karel</span> Novotný
                 </h1>
               </div>
            </div>
          
         </div>
      </div>
   </div>
   <div class="container-fluid">
      <ul class="c-player__bottom">
         <li class="h5">
            Brankář
            <span>post</span>
         </li>
         <li class="h5">
            24. 1. 2000
            <span>narozen</span>
         </li>
         <li class="h5">
            21
            <span>věk</span>
         </li>
         <li class="h5">
            177 cm
            <span>výška</span>
         </li>
         <li class="h5">
            76 kg
            <span>váha</span>
         </li>
         <li class="h5">
            levá
            <span>hůl</span>
         </li>
      </ul>
   </div>
</section>