.c-player-detail-section{
  padding-top: 94px;
  margin-bottom: 32px;
  position: relative;
  &__name{
    position: absolute;
    font-weight: 700;
    font-size: 192px;
    line-height: 241px;
    text-align: center;
    letter-spacing: -0.05em;
    bottom: 0;
    opacity: 0.32;
    color: var(--color-blue);
    -webkit-text-stroke: 0.0625rem #171F52;
    margin: 0 auto;
    left: 0;
    right: 0;
    @include media-breakpoint-down(xl){
      display: none;
    }
  }
  @include media-breakpoint-down(xl){
    padding-top: 40px;
  }
  &__inner{
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    color: var(--color-light);
  }
}
.c-player{
  &__top{
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    padding-bottom: 24px;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 32px;
    padding-left: 100px;
    @include media-breakpoint-down(xl){
      padding-left: 0;
      justify-content: center;
    }
    @include media-breakpoint-down(md){
      flex-direction: column;
      text-align: center;
    }
  }
  &__info{
    padding: 0 16px;
    &-date{
      font-weight: 700;
      font-size: 64px;
      line-height: 80px;
      @include media-breakpoint-down(md){
        font-size: 40px;
        line-height: 125%;
      }
    }
    &-name{
      font-weight: 700;
      font-size: 36px;
      line-height: 45px;
      text-transform: uppercase;
      span{
        -webkit-text-stroke: 0.0625rem var(--color-light);
        text-transform: capitalize;
        color: var(--color-blue);
      }
    }
  }
  &__img{
    width: 220px;
    padding: 0 16px;
    @include media-breakpoint-down(lg){
      width: 172px;
    }
    img{
      border: 8px solid rgba(255, 255, 255, 0.5);
      width: 100%;
      height: 100%;
      object-fit: cover;
      height: 188px;
      width: 188px;
      border-radius: 50%;
      overflow: hidden;
      @include media-breakpoint-down(lg){
        width: 140px;
        height: 140px;
      }
    }
  }
  &__btn{
    position: absolute;
    display: flex;
    top: 50%;
    transform: translateY(-92%);
    align-items: center;
    &:hover{
      a{
        transform: scale(1.1);
      }
    }
    &-info{
      @include media-breakpoint-down(lg){
        display: none;
      }
      span{
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        display: block;
      }
    }
    a{
      transition: all .3s;
      margin: 0 20px;
      width: 42px;
      height: 42px;
      display: block;
      border-radius: 50%;
      overflow: hidden;
      @include media-breakpoint-down(lg){
        width: 32px;
        height: 32px;
        margin: 0;
      }
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__btn--left{
    left: 20px;
  }
  &__btn--right{
    right: 20px;
  }
  &__bottom{
    color: var(--color-light);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    margin-left: -16px;
    margin-right: -16px;
    padding-bottom:16px;
    position: relative;
    z-index: 1;
    li{
      padding: 0 16px;
      display: block;
      text-align: center;
      margin-bottom: 16px;
      @include media-breakpoint-down(md){
        max-width: 33.333%;
        flex: 0 0 33.333%;
      }
      span{
        display: block;
        opacity: 0.5;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}