.o-content {
  &::after {
    display: table;
    clear: both;
    content: "";
  }
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
  h1{
    margin: 32px 0 24px 0;
  }
  h2{
    margin-top: 32px;
    margin-bottom: 24px;
  }
  p{
    margin-bottom: 32px;
  }
}
.h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 122%;
  letter-spacing: -0.02em;
  @include media-breakpoint-down(md) {
    font-size: 36px;
    line-height: 125%;
  }
}
.h2,
.o-content h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  color: var(--color-blue);
  letter-spacing: 0.01px;
  @include media-breakpoint-down(md) {
    font-size: 28px;
    line-height: 125%;
  }
}
.h3,
.o-content h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 122%;
  letter-spacing: -0.02em;
  @include media-breakpoint-down(md) {
    font-size: 24px;
    line-height: 125%;
  }
}
.h4,
.o-content h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 147.5%;
  @include media-breakpoint-down(md) {
    font-size: 18px;
    line-height: 125%;
  }
}
.h5,
.o-content h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 122%;
  letter-spacing: -0.01em;
  @include media-breakpoint-down(md) {
    font-size: 16px;
    line-height: 125%;
  }
}
.h6,
.o-content h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 122%;
  letter-spacing: 0.155em;
  @include media-breakpoint-down(md) {
    font-size: 16px;
    line-height: 125%;
  }
}
.p1{
  font-weight: 400;
  font-size: 20px;
  line-height: 147.5%;
}
.p2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 147.5%;
}
.p3{
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: -0.01em;
}