.tag{
   font-weight: 700;
   font-size: 12px;
   line-height: 120%;
   letter-spacing: -0.01em;
   color: var(--color-dark);
   background-color: var(--color-orange);
   padding: 2px 8px 4px ;
   border-radius: 1px;
}