<a class="product p-4 bg-white" href="#">
  <div class="product__img mb-4">
    <img src="https://via.placeholder.com/361x240" loading="lazy" alt="" />
  </div>
  <p class="p1">Oficiální dres pro sezónu 2022/23</p>
  <div class="h4">1 500 Kč</div>
</a>
