<section class="c-partners-section">
  <div class="container">
    <a class="link mb-6" href="#">
      <h4 class="h2">Partneři kolínského hokeje</h4>
      {% include "@images/link.svg" %}
   </a>
   <ul class="row justify-content-center g-6 mb-6">
    <li class="col-lg-4 col-md-6">
      <a href="#" class="w-100">
          <img class="w-100" class="w-100" src="https://via.placeholder.com/392x240" loading="lazy" alt="" />
      </a>
    </li>
    <li class="col-lg-4 col-md-6">
      <a href="#" class="w-100">
          <img class="w-100" src="https://via.placeholder.com/392x240" loading="lazy" alt="" />
      </a>
    </li>
    <li class="col-lg-4 col-md-6">
      <a href="#" class="w-100">
          <img class="w-100" src="https://via.placeholder.com/392x240" loading="lazy" alt="" />
      </a>
    </li>
   </ul>
    <ul class="row justify-content-center g-6">
     
      <li class="col-6 col-md-4 col-lg-2">
        <a href="#" class="w-100">
            <img class="w-100" src="https://via.placeholder.com/184x120" loading="lazy" alt="" />
        </a>
      </li>
      <li class="col-6 col-md-4 col-lg-2">
        <a href="#" class="w-100">
            <img class="w-100" src="https://via.placeholder.com/184x120" loading="lazy" alt="" />
        </a>
      </li>
      <li class="col-6 col-md-4 col-lg-2">
        <a href="#" class="w-100">
            <img class="w-100" src="https://via.placeholder.com/184x120" loading="lazy" alt="" />
        </a>
      </li>
      <li class="col-6 col-md-4 col-lg-2">
        <a href="#" class="w-100">
            <img class="w-100" src="https://via.placeholder.com/184x120" loading="lazy" alt="" />
        </a>
      </li>
      <li class="col-6 col-md-4 col-lg-2">
        <a href="#" class="w-100">
            <img class="w-100" src="https://via.placeholder.com/184x120" loading="lazy" alt="" />
        </a>
      </li>
      <li class="col-6 col-md-4 col-lg-2">
        <a href="#" class="w-100">
            <img class="w-100" src="https://via.placeholder.com/184x120" loading="lazy" alt="" />
        </a>
      </li>
      <li class="col-6 col-md-4 col-lg-2">
        <a href="#" class="w-100">
            <img class="w-100" src="https://via.placeholder.com/184x120" loading="lazy" alt="" />
        </a>
      </li>
      <li class="col-6 col-md-4 col-lg-2">
        <a href="#" class="w-100">
            <img class="w-100" src="https://via.placeholder.com/184x120" loading="lazy" alt="" />
        </a>
      </li>
      <li class="col-6 col-md-4 col-lg-2">
        <a href="#" class="w-100">
            <img class="w-100" src="https://via.placeholder.com/184x120" loading="lazy" alt="" />
        </a>
      </li>
      <li class="col-6 col-md-4 col-lg-2">
        <a href="#" class="w-100">
            <img class="w-100" src="https://via.placeholder.com/184x120" loading="lazy" alt="" />
        </a>
      </li>
    </ul>
  </div>
</section>
