<section class="c-photogallery-section">
  <div class="container">
    <div class="c-photogallery__inner">
      <figure class="c-photogallery__item">
        <a href="#" data-gallery="1" data-gallery-id="1">
          <img
            src="images/content/clanek-1.jpg"
            loading="lazy"
            alt="clanek-1"
          />
          <div class="c-photogallery-section__info">
            <div class="date">19. dubna 2022</div>
            <h2 class="h5">Předsezónní trénink</h2>
          </div>
        </a>
      </figure>
      <figure class="c-photogallery__item">
        <a href="#" data-gallery="1" data-gallery-id="1">
          <img
            src="images/content/clanek-1.jpg"
            loading="lazy"
            alt="clanek-1"
          />
          <div class="c-photogallery-section__info">
            <div class="date">19. dubna 2022</div>
            <h3 class="h5">Předsezónní trénink</h3>
          </div>
        </a>
      </figure>
      <figure class="c-photogallery__item">
        <a href="#" data-gallery="1" data-gallery-id="1">
          <img
            src="images/content/clanek-1.jpg"
            loading="lazy"
            alt="clanek-1"
          />
          <div class="c-photogallery-section__info">
            <div class="date">19. dubna 2022</div>
            <h3 class="h5">Předsezónní trénink</h3>
          </div>
        </a>
      </figure>
      <figure class="c-photogallery__item">
        <a href="#" data-gallery="1" data-gallery-id="1">
          <img
            src="images/content/clanek-1.jpg"
            loading="lazy"
            alt="clanek-1"
          />
          <div class="c-photogallery-section__info">
            <div class="date">19. dubna 2022</div>
            <h3 class="h5">Předsezónní trénink</h3>
          </div>
        </a>
      </figure>
      <figure class="c-photogallery__item">
        <a href="#" data-gallery="1" data-gallery-id="1">
          <img
            src="images/content/clanek-1.jpg"
            loading="lazy"
            alt="clanek-1"
          />
          <div class="c-photogallery-section__info">
            <div class="date">19. dubna 2022</div>
            <h3 class="h5">Předsezónní trénink</h3>
          </div>
        </a>
      </figure>
      <figure class="c-photogallery__item">
        <a href="#" data-gallery="1" data-gallery-id="1">
          <img
            src="images/content/clanek-1.jpg"
            loading="lazy"
            alt="clanek-1"
          />
          <div class="c-photogallery-section__info">
            <div class="date">19. dubna 2022</div>
            <h3 class="h5">Předsezónní trénink</h3>
          </div>
        </a>
      </figure>
      <figure class="c-photogallery__item">
        <a href="#" data-gallery="1" data-gallery-id="1">
          <img
            src="images/content/clanek-1.jpg"
            loading="lazy"
            alt="clanek-1"
          />
          <div class="c-photogallery-section__info">
            <div class="date">19. dubna 2022</div>
            <h3 class="h5">Předsezónní trénink</h3>
          </div>
        </a>
      </figure>
      <figure class="c-photogallery__item">
        <a href="#" data-gallery="1" data-gallery-id="1">
          <img
            src="images/content/clanek-1.jpg"
            loading="lazy"
            alt="clanek-1"
          />
          <div class="c-photogallery-section__info">
            <div class="date">19. dubna 2022</div>
            <h3 class="h5">Předsezónní trénink</h3>
          </div>
        </a>
      </figure>
      <figure class="c-photogallery__item">
        <a href="#" data-gallery="1" data-gallery-id="1">
          <img
            src="images/content/clanek-1.jpg"
            loading="lazy"
            alt="clanek-1"
          />
          <div class="c-photogallery-section__info">
            <div class="date">19. dubna 2022</div>
            <h3 class="h5">Předsezónní trénink</h3>
          </div>
        </a>
      </figure>
      <figure class="c-photogallery__item">
        <a href="#" data-gallery="1" data-gallery-id="1">
          <img
            src="images/content/clanek-1.jpg"
            loading="lazy"
            alt="clanek-1"
          />
          <div class="c-photogallery-section__info">
            <div class="date">19. dubna 2022</div>
            <h3 class="h5">Předsezónní trénink</h3>
          </div>
        </a>
      </figure>
    </div>
    {% include "@components/pagination/pagination.twig" %}
  </div>
</section>
