<section class="c-table-section">
   <div class="container">
      <div class="row">
         <div class="col-lg-10 mx-auto">
            <div class="o-content">
               <table>
                  <thead>
                     <tr>
                        <th>#</th>
                        <th></th>
                        <th>Klub</th>
                        <th>Z</th>
                        <th>V</th>
                        <th>Vp</th>
                        <th>R</th>
                        <th>Pp</th>
                        <th>P</th>
                        <th>VB:IB</th>
                        <th><strong>B</strong></th>
                        <th>RB</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>1</td>
                        <td><img src="images/ico/logo.svg"  loading="lazy" alt="logo" /></td>
                        <td>Litoměřice</td>
                        <td>48</td>
                        <td>32</td>
                        <td>3</td>
                        <td>11</td>
                        <td>11</td>
                        <td>11</td>
                        <td>176:128</td>
                        <td><strong>1222</strong></td>
                        <td>+48</td>
                     </tr>
                     <tr>
                        <td>1</td>
                        <td><img src="images/ico/logo.svg"  loading="lazy" alt="logo" /></td>
                        <td>Litoměřice</td>
                        <td>48</td>
                        <td>32</td>
                        <td>3</td>
                        <td>11</td>
                        <td>11</td>
                        <td>11</td>
                        <td>176:128</td>
                        <td><strong>1222</strong></td>
                        <td>+48</td>
                     </tr>
                     <tr class="kolin">
                        <td>3</td>
                        <td><img src="images/ico/logo.svg"  loading="lazy" alt="logo" /></td>
                        <td>Kolín</td>
                        <td>48</td>
                        <td>32</td>
                        <td>3</td>
                        <td>11</td>
                        <td>11</td>
                        <td>11</td>
                        <td>176:128</td>
                        <td><strong>1222</strong></td>
                        <td>+48</td>
                     </tr>
                     <tr>
                        <td>1</td>
                        <td><img src="images/ico/logo.svg"  loading="lazy" alt="logo" /></td>
                        <td>Litoměřice</td>
                        <td>48</td>
                        <td>32</td>
                        <td>3</td>
                        <td>11</td>
                        <td>11</td>
                        <td>11</td>
                        <td>176:128</td>
                        <td><strong>1222</strong></td>
                        <td>+48</td>
                     </tr>
                     <tr>
                        <td>1</td>
                        <td><img src="images/ico/logo.svg"  loading="lazy" alt="logo" /></td>
                        <td>Litoměřice</td>
                        <td>48</td>
                        <td>32</td>
                        <td>3</td>
                        <td>11</td>
                        <td>11</td>
                        <td>11</td>
                        <td>176:128</td>
                        <td><strong>1222</strong></td>
                        <td>+48</td>
                     </tr>
                     <tr>
                        <td>1</td>
                        <td><img src="images/ico/logo.svg"  loading="lazy" alt="logo" /></td>
                        <td>Litoměřice</td>
                        <td>48</td>
                        <td>32</td>
                        <td>3</td>
                        <td>11</td>
                        <td>11</td>
                        <td>11</td>
                        <td>176:128</td>
                        <td><strong>1222</strong></td>
                        <td>+48</td>
                     </tr>
                     <tr>
                        <td>1</td>
                        <td><img src="images/ico/logo.svg"  loading="lazy" alt="logo" /></td>
                        <td>Litoměřice</td>
                        <td>48</td>
                        <td>32</td>
                        <td>3</td>
                        <td>11</td>
                        <td>11</td>
                        <td>11</td>
                        <td>176:128</td>
                        <td><strong>1222</strong></td>
                        <td>+48</td>
                     </tr>
                     <tr>
                        <td>1</td>
                        <td><img src="images/ico/logo.svg"  loading="lazy" alt="logo" /></td>
                        <td>Litoměřice</td>
                        <td>48</td>
                        <td>32</td>
                        <td>3</td>
                        <td>11</td>
                        <td>11</td>
                        <td>11</td>
                        <td>176:128</td>
                        <td><strong>1222</strong></td>
                        <td>+48</td>
                     </tr>
                     <tr>
                        <td>1</td>
                        <td><img src="images/ico/logo.svg"  loading="lazy" alt="logo" /></td>
                        <td>Litoměřice</td>
                        <td>48</td>
                        <td>32</td>
                        <td>3</td>
                        <td>11</td>
                        <td>11</td>
                        <td>11</td>
                        <td>176:128</td>
                        <td><strong>1222</strong></td>
                        <td>+48</td>
                     </tr>
                     <tr>
                        <td>1</td>
                        <td><img src="images/ico/logo.svg"  loading="lazy" alt="logo" /></td>
                        <td>Litoměřice</td>
                        <td>48</td>
                        <td>32</td>
                        <td>3</td>
                        <td>11</td>
                        <td>11</td>
                        <td>11</td>
                        <td>176:128</td>
                        <td><strong>1222</strong></td>
                        <td>+48</td>
                     </tr>
                     <tr>
                        <td>1</td>
                        <td><img src="images/ico/logo.svg"  loading="lazy" alt="logo" /></td>
                        <td>Litoměřice</td>
                        <td>48</td>
                        <td>32</td>
                        <td>3</td>
                        <td>11</td>
                        <td>11</td>
                        <td>11</td>
                        <td>176:128</td>
                        <td><strong>1222</strong></td>
                        <td>+48</td>
                     </tr>
                     <tr>
                        <td>1</td>
                        <td><img src="images/ico/logo.svg"  loading="lazy" alt="logo" /></td>
                        <td>Litoměřice</td>
                        <td>48</td>
                        <td>32</td>
                        <td>3</td>
                        <td>11</td>
                        <td>11</td>
                        <td>11</td>
                        <td>176:128</td>
                        <td><strong>1222</strong></td>
                        <td>+48</td>
                     </tr>
                     <tr>
                        <td>1</td>
                        <td><img src="images/ico/logo.svg"  loading="lazy" alt="logo" /></td>
                        <td>Litoměřice</td>
                        <td>48</td>
                        <td>32</td>
                        <td>3</td>
                        <td>11</td>
                        <td>11</td>
                        <td>11</td>
                        <td>176:128</td>
                        <td><strong>1222</strong></td>
                        <td>+48</td>
                     </tr>
                     <tr>
                        <td>1</td>
                        <td><img src="images/ico/logo.svg"  loading="lazy" alt="logo" /></td>
                        <td>Litoměřice</td>
                        <td>48</td>
                        <td>32</td>
                        <td>3</td>
                        <td>11</td>
                        <td>11</td>
                        <td>11</td>
                        <td>176:128</td>
                        <td><strong>1222</strong></td>
                        <td>+48</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</section>