<section class="c-matches-section">
   <div class="container">
      <div class="row m-0 p-3 align-items-center c-matches-section__item">
         <div class="col-lg-4 col-xl-2 mb-4 mb-xl-0 text-center c-matches-section__date">
            přípravné utkání
            <strong class="d-block">
                5. srpna 2021, 17:30
            </strong>
         </div>
         <div class="col-5 col-lg-3 col-xl-2 mb-4 mb-xl-0 text-left text-md-center c-matches-section__logos">
            <img src="images/ico/logo.svg" loading="lazy" alt="" />
            <img src="images/ico/logo.svg" loading="lazy" alt="" />
         </div>
         <div class="col-lg-4 col-xl mb-4 mb-xl-0 c-matches-section__teams">
            <h3 class="kolin">SC Marimex Kolín</h3>
            <h3>HC Slavia Praha</h3>
         </div>
         <div class="col-1 mb-4 mb-xl-0 text-center c-matches-section__score">
            <div class="kolin mb-3">3</div>
            <div>1</div>
         </div>
         <div class="col-12 col-md col-xl-4 text-center mb-4 mb-lg-0 text-xl-left">
            <ul class="match__links">
               <li>
                  <a href="#">
                     {% include "@images/match-info.svg" %}
                  </a>
               </li>
               <li>
                  <a href="#">
                     {% include "@images/match-video.svg" %}
                  </a>
               </li>
               <li>
                  <a href="#">
                     {% include "@images/match-radio.svg" %}
                  </a>
               </li>
               <li>
                  <a href="#">
                     {% include "@images/match-photo.svg" %}
                  </a>
               </li>
            </ul>
         </div>
      </div>
      <div class="row m-0 p-3 align-items-center c-matches-section__item">
         <div class="col-lg-4 col-xl-2 mb-4 mb-xl-0 text-center c-matches-section__date">
            přípravné utkání
            <strong class="d-block">
                5. srpna 2021, 17:30
            </strong>
         </div>
         <div class="col-5 col-lg-3 col-xl-2 mb-4 mb-xl-0 text-left text-md-center c-matches-section__logos">
            <img src="images/ico/logo.svg" loading="lazy" alt="" />
            <img src="images/ico/logo.svg" loading="lazy" alt="" />
         </div>
         <div class="col col-lg-4 col-xl mb-4 mb-xl-0 c-matches-section__teams">
            <h3 class="kolin">SC Marimex Kolín</h3>
            <h3>HC Slavia Praha</h3>
         </div>
         <div class="col-1 mb-4 mb-xl-0 text-center c-matches-section__score">
            <div class="kolin mb-3">3</div>
            <div>1</div>
         </div>
         <div class="col-12 col-md col-xl-4 text-center mb-4 mb-lg-0 text-xl-left">
            <ul class="match__links">
               <li>
                  <a href="#">
                     {% include "@images/match-info.svg" %}
                  </a>
               </li>
               <li>
                  <a href="#">
                     {% include "@images/match-video.svg" %}
                  </a>
               </li>
               <li>
                  <a href="#">
                     {% include "@images/match-radio.svg" %}
                  </a>
               </li>
               <li>
                  <a href="#">
                     {% include "@images/match-photo.svg" %}
                  </a>
               </li>
            </ul>
         </div>
      </div>
      <div class="row m-0 p-3 align-items-center c-matches-section__item">
         <div class="col-lg-4 col-xl-2 mb-4 mb-xl-0 text-center c-matches-section__date">
            přípravné utkání
            <strong class="d-block">
                5. srpna 2021, 17:30
            </strong>
         </div>
         <div class="col-5 col-lg-3 col-xl-2 mb-4 mb-xl-0 text-left text-md-center c-matches-section__logos">
            <img src="images/ico/logo.svg" loading="lazy" alt="" />
            <img src="images/ico/logo.svg" loading="lazy" alt="" />
         </div>
         <div class="col col-lg-4 col-xl mb-4 mb-xl-0 c-matches-section__teams">
            <h3 class="kolin">SC Marimex Kolín</h3>
            <h3>HC Slavia Praha</h3>
         </div>
         <div class="col-1 mb-4 mb-xl-0 text-center c-matches-section__score">
            <div class="kolin mb-3">3</div>
            <div>1</div>
         </div>
         <div class="col-12 col-md col-xl-4 text-center mb-4 mb-lg-0 text-xl-left">
            <ul class="match__links">
               <li>
                  <a href="#">
                     {% include "@images/match-info.svg" %}
                  </a>
               </li>
               <li>
                  <a href="#">
                     {% include "@images/match-video.svg" %}
                  </a>
               </li>
               <li>
                  <a href="#">
                     {% include "@images/match-radio.svg" %}
                  </a>
               </li>
               <li>
                  <a href="#">
                     {% include "@images/match-photo.svg" %}
                  </a>
               </li>
            </ul>
         </div>
      </div>
      <div class="row m-0 p-3 align-items-center c-matches-section__item">
         <div class="col-lg-4 col-xl-2 mb-4 mb-xl-0 text-center c-matches-section__date">
            přípravné utkání
            <strong class="d-block">
                5. srpna 2021, 17:30
            </strong>
         </div>
         <div class="col-5 col-lg-3 col-xl-2 mb-4 mb-xl-0 text-left text-md-center c-matches-section__logos">
            <img src="images/ico/logo.svg" loading="lazy" alt="" />
            <img src="images/ico/logo.svg" loading="lazy" alt="" />
         </div>
         <div class="col col-lg-4 col-xl mb-4 mb-xl-0 c-matches-section__teams">
            <h3 class="kolin">SC Marimex Kolín</h3>
            <h3>HC Slavia Praha</h3>
         </div>
         <div class="col-1 mb-4 mb-xl-0 text-center c-matches-section__score">
            <div class="kolin mb-3">3</div>
            <div>1</div>
         </div>
         <div class="col-12 col-md col-xl-4 text-center mb-4 mb-lg-0 text-xl-left">
            <ul class="match__links">
               <li>
                  <a href="#">
                     {% include "@images/match-info.svg" %}
                  </a>
               </li>
               <li>
                  <a href="#">
                     {% include "@images/match-video.svg" %}
                  </a>
               </li>
               <li>
                  <a href="#">
                     {% include "@images/match-radio.svg" %}
                  </a>
               </li>
               <li>
                  <a href="#">
                     {% include "@images/match-photo.svg" %}
                  </a>
               </li>
            </ul>
         </div>
      </div>
      <div class="row m-0 p-3 align-items-center c-matches-section__item">
         <div class="col-lg-4 col-xl-2 mb-4 mb-xl-0 text-center c-matches-section__date">
            přípravné utkání
            <strong class="d-block">
                5. srpna 2021, 17:30
            </strong>
         </div>
         <div class="col-5 col-lg-3 col-xl-2 mb-4 mb-xl-0 text-left text-md-center c-matches-section__logos">
            <img src="images/ico/logo.svg" loading="lazy" alt="" />
            <img src="images/ico/logo.svg" loading="lazy" alt="" />
         </div>
         <div class="col col-lg-4 col-xl mb-4 mb-xl-0 c-matches-section__teams">
            <h3 class="kolin">SC Marimex Kolín</h3>
            <h3>HC Slavia Praha</h3>
         </div>
         <div class="col-1 mb-4 mb-xl-0 text-center c-matches-section__score">
            <div class="kolin mb-3">3</div>
            <div>1</div>
         </div>
         <div class="col-12 col-md col-xl-4 text-center mb-4 mb-lg-0 text-xl-left">
            <ul class="match__links">
               <li>
                  <a href="#">
                     {% include "@images/match-info.svg" %}
                  </a>
               </li>
               <li>
                  <a href="#">
                     {% include "@images/match-video.svg" %}
                  </a>
               </li>
               <li>
                  <a href="#">
                     {% include "@images/match-radio.svg" %}
                  </a>
               </li>
               <li>
                  <a href="#">
                     {% include "@images/match-photo.svg" %}
                  </a>
               </li>
            </ul>
         </div>
      </div>
      <div class="row m-0 p-3 align-items-center c-matches-section__item">
         <div class="col-lg-4 col-xl-2 mb-4 mb-xl-0 text-center c-matches-section__date">
            přípravné utkání
            <strong class="d-block">
                5. srpna 2021, 17:30
            </strong>
         </div>
         <div class="col-5 col-lg-3 col-xl-2 mb-4 mb-xl-0 text-left text-md-center c-matches-section__logos">
            <img src="images/ico/logo.svg" loading="lazy" alt="" />
            <img src="images/ico/logo.svg" loading="lazy" alt="" />
         </div>
         <div class="col col-lg-4 col-xl mb-4 mb-xl-0 c-matches-section__teams">
            <h3 class="kolin">SC Marimex Kolín</h3>
            <h3>HC Slavia Praha</h3>
         </div>
         <div class="col-1 mb-4 mb-xl-0 text-center c-matches-section__score">
            <div class="kolin mb-3">3</div>
            <div>1</div>
         </div>
         <div class="col-12 col-md col-xl-4 text-center mb-4 mb-lg-0 text-xl-left">
            <ul class="match__links">
               <li>
                  <a href="#">
                     {% include "@images/match-info.svg" %}
                  </a>
               </li>
               <li>
                  <a href="#">
                     {% include "@images/match-video.svg" %}
                  </a>
               </li>
               <li>
                  <a href="#">
                     {% include "@images/match-radio.svg" %}
                  </a>
               </li>
               <li>
                  <a href="#">
                     {% include "@images/match-photo.svg" %}
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </div>
</section>