.hp-matches {
  padding-top: 56px;
  padding-bottom: 32px;
  @include media-breakpoint-down(md) {
    padding: 32px 0;
  }
}
.c-matches-section {
  &__item {
    @include media-breakpoint-down(lg) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .match__links {
      justify-content: flex-end;
      @include media-breakpoint-down(lg) {
        justify-content: center;
        margin-bottom: 12px;
      }
    }
    .match__links li {
      padding: 0 16px;
    }
  }
  &__item:nth-child(odd) {
    background-color: var(--color-light-gray);
  }
  &__teams {
    @include media-breakpoint-down(lg) {
      text-align: center;
      justify-content: center;
    }
  }
  &__logos {
    display: flex;
    @include media-breakpoint-down(lg) {
      justify-content: center;
    }
    img {
      height: 80px;
      padding: 4px;
    }
  }
  &__score {
    font-size: 24px;
    a {
      transition: all 0.3s;
      color: var(--color-blue);
    }
    a:hover {
      text-decoration-color: transparent;
    }
    @include media-breakpoint-down(lg) {
      display: flex;
      justify-content: center;
      margin-bottom: 8px;
      div {
        padding: 0 8px;
      }
    }
  }
}
.kolin {
  color: var(--color-blue);
  font-weight: bold;
}
