<section class="c-matches-section">
  <div class="container">
    <div class="row m-0 p-3 align-items-center c-matches-section__item">
      <div
        class="col-5 col-lg-3 col-xl-2 mb-4 mb-xl-0 text-left text-md-center c-matches-section__logos"
      >
        <img src="images/ico/logo.svg" loading="lazy" alt="" />
        <img src="images/ico/logo.svg" loading="lazy" alt="" />
      </div>
      <div class="col-lg-4 col-xl mb-4 mb-xl-0 c-matches-section__teams">
        <p>5. srpna 2021</p>
        <h3>SC Marimex Kolín - HC Slavia Praha</h3>
      </div>
      <div class="col-1 mb-xl-0 text-center c-matches-section__score">
        <span> 3:1</span>
      </div>
      <div class="col-12 col-md col-xl-3 text-center mb-lg-0 text-xl-left">
        <ul class="match__links">
          <li>
            <a href="#"> {% include "@images/match-info.svg" %} </a>
          </li>
          <li>
            <a href="#"> {% include "@images/match-video.svg" %} </a>
          </li>
          <li>
            <a href="#"> {% include "@images/match-radio.svg" %} </a>
          </li>
          <li>
            <a href="#"> {% include "@images/match-photo.svg" %} </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row m-0 p-3 align-items-center c-matches-section__item">
      <div
        class="col-5 col-lg-3 col-xl-2 mb-4 mb-xl-0 text-left text-md-center c-matches-section__logos"
      >
        <img src="images/ico/logo.svg" loading="lazy" alt="" />
        <img src="images/ico/logo.svg" loading="lazy" alt="" />
      </div>
      <div class="col-lg-4 col-xl mb-4 mb-xl-0 c-matches-section__teams">
        <p>5. srpna 2021</p>
        <h3>SC Marimex Kolín - HC Slavia Praha</h3>
      </div>

      <div class="col-12 col-md col-xl-3 text-center mb-4 mb-lg-0 text-xl-left">
        <ul class="match__links"></ul>
      </div>
      <div class="col-1 mb-4 mb-xl-0 text-center c-matches-section__score">
        <a href="#">15:00</a>
      </div>
    </div>
    <div class="row m-0 p-3 align-items-center c-matches-section__item">
      <div
        class="col-5 col-lg-3 col-xl-2 mb-4 mb-xl-0 text-left text-md-center c-matches-section__logos"
      >
        <img src="images/ico/logo.svg" loading="lazy" alt="" />
        <img src="images/ico/logo.svg" loading="lazy" alt="" />
      </div>
      <div class="col-lg-4 col-xl mb-4 mb-xl-0 c-matches-section__teams">
        <p>5. srpna 2021</p>
        <h3>SC Marimex Kolín - HC Slavia Praha</h3>
      </div>
      <div class="col-1 mb-4 mb-xl-0 text-center c-matches-section__score">
        <span> 3:1</span>
      </div>
      <div class="col-12 col-md col-xl-3 text-center mb-4 mb-lg-0 text-xl-left">
        <ul class="match__links">
          <li>
            <a href="#"> {% include "@images/match-info.svg" %} </a>
          </li>
          <li>
            <a href="#"> {% include "@images/match-video.svg" %} </a>
          </li>
          <li>
            <a href="#"> {% include "@images/match-radio.svg" %} </a>
          </li>
          <li>
            <a href="#"> {% include "@images/match-photo.svg" %} </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row m-0 p-3 align-items-center c-matches-section__item">
      <div
        class="col-5 col-lg-3 col-xl-2 mb-4 mb-xl-0 text-left text-md-center c-matches-section__logos"
      >
        <img src="images/ico/logo.svg" loading="lazy" alt="" />
        <img src="images/ico/logo.svg" loading="lazy" alt="" />
      </div>
      <div class="col-lg-4 col-xl mb-4 mb-xl-0 c-matches-section__teams">
        <p>5. srpna 2021</p>
        <h3>SC Marimex Kolín - HC Slavia Praha</h3>
      </div>

      <div class="col-12 col-md col-xl-3 text-center mb-4 mb-lg-0 text-xl-left">
        <ul class="match__links"></ul>
      </div>
      <div class="col-1 mb-4 mb-xl-0 text-center c-matches-section__score">
        <a href="#">15:00</a>
      </div>
    </div>
    <div class="row m-0 p-3 align-items-center c-matches-section__item">
      <div
        class="col-5 col-lg-3 col-xl-2 mb-4 mb-xl-0 text-left text-md-center c-matches-section__logos"
      >
        <img src="images/ico/logo.svg" loading="lazy" alt="" />
        <img src="images/ico/logo.svg" loading="lazy" alt="" />
      </div>
      <div class="col-lg-4 col-xl mb-4 mb-xl-0 c-matches-section__teams">
        <p>5. srpna 2021</p>
        <h3>SC Marimex Kolín - HC Slavia Praha</h3>
      </div>
      <div class="col-1 mb-4 mb-xl-0 text-center c-matches-section__score">
        <span> 3:1</span>
      </div>
      <div class="col-12 col-md col-xl-3 text-center mb-4 mb-lg-0 text-xl-left">
        <ul class="match__links">
          <li>
            <a href="#"> {% include "@images/match-info.svg" %} </a>
          </li>
          <li>
            <a href="#"> {% include "@images/match-video.svg" %} </a>
          </li>
          <li>
            <a href="#"> {% include "@images/match-radio.svg" %} </a>
          </li>
          <li>
            <a href="#"> {% include "@images/match-photo.svg" %} </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row m-0 p-3 align-items-center c-matches-section__item">
      <div
        class="col-5 col-lg-3 col-xl-2 mb-4 mb-xl-0 text-left text-md-center c-matches-section__logos"
      >
        <img src="images/ico/logo.svg" loading="lazy" alt="" />
        <img src="images/ico/logo.svg" loading="lazy" alt="" />
      </div>
      <div class="col-lg-4 col-xl mb-4 mb-xl-0 c-matches-section__teams">
        <p>5. srpna 2021</p>
        <h3>SC Marimex Kolín - HC Slavia Praha</h3>
      </div>

      <div class="col-12 col-md col-xl-3 text-center mb-4 mb-lg-0 text-xl-left">
        <ul class="match__links"></ul>
      </div>
      <div class="col-1 mb-4 mb-xl-0 text-center c-matches-section__score">
        <a href="#">15:00</a>
      </div>
    </div>
  </div>
</section>
