.menu-section {
  padding-top: 48px;
  margin-bottom: 34px;
  color: var(--color-blue);
  @include media-breakpoint-down(sm) {
    margin-bottom: 20px;
    padding-bottom: 0.5rem;
  }
  &__inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    @include media-breakpoint-down(xxl) {
      flex-wrap: wrap;
    }
    @include media-breakpoint-down(lg){
      align-items: start;
    }
    @include media-breakpoint-down(sm) {
      align-items: flex-start;
      flex-direction: column;
    }
  }
  &__links{
    display: flex;
    @include media-breakpoint-down(lg){
      width: 100%;
      justify-content: center;
      order: 1;
      margin-top: 16px;
    }
    li{
      padding: 0 4px;
      display: block;
      a{
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: var(--color-blue);
        border: 1px solid var(--color-blue);
        padding: 6px 16px 4px 16px;
        text-decoration: none;
        transition: all .3s;
        &:hover{
          background-color: var(--color-blue);
          color: var(--color-light);
        }
      }
    }
  }
  &__form{
    @include media-breakpoint-down(sm){
      width: 100%;
      margin-top: 16px;
    }
  }
  &__filtr{
    display: flex;
    justify-content: center;
    li{
      padding: 0 8px;
      a{
        text-decoration-color: transparent;
        transition: all .3s;
        &:hover,
        &.active{
          text-decoration-color: inherit;
        }
      }
    }
  }
}
