<section class="menu-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="menu-section__inner">
          <h1 class="h2">Fotogalerie</h1>
          <form action="" class="menu-section__form">
            <label class="o-select menu-section__label">
              <select class="js-select">
                <option>2022/23</option>
                <option value="tipsport">2020/21</option>
                <option value="tipsport">2019/20</option>
                <option value="tipsport">2018/19</option>
                <option value="tipsport">2017/18</option>
              </select>
            </label>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
