<section class="menu-section">
   <div class="container">
      <div class="menu-section__inner mb-lg-10 mb-4">
         <h1 class="h2">
            A-tým
         </h1>
         <ul class="menu-section__links tabs tabs--matches">
            <li>
               <a class="tab active" data-id="liga" href="#">
                  CHANCE liga
               </a>
            </li>
            <li>
               <a class="tab " data-id="zapasy" href="#">
                  Přípravné zápasy
               </a>
            </li>
         </ul>
         <form action="" class="menu-section__form">
            <label class="o-select menu-section__label">
               <select class="js-select">
                  <option>2021/22</option>
                  <option value="tipsport">2020/21</option>
                  <option value="tipsport">2019/20</option>
                  <option value="tipsport">2018/19</option>
                  <option value="tipsport">2017/18</option>
               </select>
            </label>
         </form>
      </div>
      <ul class="menu-section__filtr">
         <li>
            <a class="active" href="#">VŠE</a>
         </li>
         <li>
            <a href="#">POUZE DOMA</a>
         </li>
         <li>
            <a href="#">POUZE VENKU</a>
         </li>
      </ul>
   </div>   
</section>