<section class="menu-section">
   <div class="container">
      <div class="menu-section__inner">
         <h1 class="h2">
            Soupiska
         </h1>
         <ul class="menu-section__links">
            <li>
               <a href="#">
                  Brankáři
               </a>
            </li>
            <li>
               <a href="#">
                  Obránci
               </a>
            </li>
            <li>
               <a href="#">
                  Útočníci
               </a>
            </li>
         </ul>
         <form action="" class="ms-auto w-auto menu-section__form">
            <label class="o-select menu-section__label">
               <select class="js-select">
                  <option>2021/22</option>
                  <option value="tipsport">2020/21</option>
                  <option value="tipsport">2019/20</option>
                  <option value="tipsport">2018/19</option>
                  <option value="tipsport">2017/18</option>
               </select>
            </label>
         </form>
      </div>
   </div>   
</section>