<footer class="footer">
   <div class="footer__bg">
      SC <span>MARIMEX</span> KOLÍN
   </div>
   <div class="container">
      <div class="footer__top">
         <div class="footer__box">
            <a href="#" class="footer__logo">
               <img src="images/ico/logo.svg"  loading="lazy" alt="logo" />
            </a>
            <div class="footer__box-info">
               <div class="footer__title">
                  SC MARIMEX KOLÍN
               </div>
              <ul>
                 <li>Brankovická 1289</li>
                  <li> 280 02 Kolín</li>
              </ul>
            </div>
         </div>  
         <ul class="footer__box-info footer__box-info--mob">
            <li>Brankovická 1289</li>
             <li> 280 02 Kolín</li>
         </ul>
         <div class="footer__contacts">
            <div class="h6">KONTAKTY</div>
            <ul>
               <li>
                  <a href="mailto:sekretar@sckolin.cz">sekretar@sckolin.cz</a>
               </li>
               <li>
                  <a href="tel:+420724361930">+420 724 361 930</a>
               </li>
            </ul>
         </div>
      </div>
      <div class="footer__bottom">
         <ul>
            <li>
               <a href="#">Cookies</a>
            </li>
            <li>
               <a href="#">Copyright</a>
            </li>
            <li>
               <a href="#">Fakturační údaje</a>
            </li>
            <li>
               <a href="#">Přístupnost</a>
            </li>
            <li>
               <a href="#">Podmínky použití webu</a>
            </li>
            <li>
               <a href="#">Obchodní podmínky</a>
            </li>
         </ul>
         <p class="footer__copy p2">
            Vyrobeno v  
            <a href="https://esportsmedia.cz/">{% include "@images/esports.svg" %}</a>
            v roce 2022
         </p>
      </div>
   </div>
</footer>
