
.c-post {
   display: flex;
    &__img:hover{
      img{
        transform: scale(1.1);
      }
    }
   @include media-breakpoint-down(sm) {
      flex-direction: column;
   }
 }
 .c-post__img {
   aspect-ratio: 280/175;
   min-width: 280px;
   margin-right: 32px;
   overflow: hidden;
   width: 100%;
   display: block;
   img{
    transition: all .3s;
    display: block;
   }
   @include media-breakpoint-down(sm){
      margin-right: 0;
      margin-bottom: 8px;
      img{
         width: 100%;
      }
   }
 }
 .c-post__content {
    padding: 0 24px;
    @include media-breakpoint-down(md){
      padding: 16px 0 0 0;
    }
    span{
       color: var(--color-gray);
       display: block;
       font-weight: 700;
       letter-spacing: -0.01em;
       font-size: 14px;
       line-height: 122%;
    }
   .h3 {
     > a {
       color: var(--color-blue);
       text-decoration: none;
     }
   }
   p {
     max-width: 484px;
   }
 }