<article class="c-post mb-6">
   <a class="c-post__img" href="">
      <picture>
         <img src="https://via.placeholder.com/280x175" loading="lazy" alt="" />
       </picture>
   </a>
   <div class="c-post__content">
     <h2 class="h3 mb-1"><a href="">Nadpis článku</a></h2>
     <span class="mb-2"> ne 27.2.2022</span>
     <p class="p5">Sekundární text. Sekundární text. Sekundární text. Sekundární text. Sekundární text. Sekundární text. Sekundární text. Sekundární text. Sekundární text. Sekundární text. Sekundární text...</p>
   </div>
 </article>