<article class="c-post mb-6">
  <div class="d-md-flex">
    <div class="col-mg-4">
      <a class="c-post__img" href="">
        <picture>
           <img src="images/content/clanek-1.jpg" loading="lazy" alt="" />
         </picture>
     </a>
    </div>
    <div class="col-md-8">
      <div class="c-post__content">
        <h2 class="h3 mb-1"><a href="">Nadpis článku</a></h2>
        <span class="mb-2"> ne 27.2.2022</span>
        <p class="p5">Sekundární text. Sekundární text. Sekundární text. Sekundární text. Sekundární text. Sekundární text. Sekundární text. Sekundární text. Sekundární text. Sekundární text. Sekundární text...</p>
      </div>
    </div>
  </div>
 </article>