<section class="c-pub-section">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <figure>
               <a target="_blank" href="#" class=" d-block w-100">
                  <img class="w-100" src="https://via.placeholder.com/1224x200" loading="lazy" alt="" />
               </a>
            </figure>
         </div>
      </div>
   </div>
</section>