{% extends "@components/base/base.twig" %} {% set title = "12.0_accreditation"
%} {% block main %}
<section class="menu-section">
  <div class="container">
    <h1 class="h2 text-center">Akreditace na jednotlivé zápasy</h1>
  </div>
</section>

{% include "@components/accreditation-section/accreditation-section.twig" %} {%
endblock %}
