

{% extends "@components/base/base.twig" %} {% set title = "13.0_test"
%} {% block main %}
 
<section class="c-article-section">
   <div class="container-fluid">
      <div class="row">
         <div class="d-flex align-items-center mb-2">
            <div class="tag">A tým - preview</div>
            <div class="date px-2 d-block">11.12.2023</div>
         </div>
         <div class="date d-block" style="padding-left: ">Autor: Redakce</div>
         <div class="o-content">
            <h1 class="h1">
               Preview test porovnání
            </h1>
            <img src="https://sckolin.esports.cz/img/content/default.jpg" loading="lazy" alt="clanek-1">
            <div class="col-md-10 col-lg-8 mx-auto">
               <p class="p1">
                  text
               </p>
               <hr>
               <!--
               <h2 class="h2">Nadpis podsekce</h2>
               -->
               <p>
                  <h5>Xx. kolo Chance ligy: SC Kolín vs. HC ZUBR Přerov </h5><p>
<table class="nice">
<tbody>
<tr>
<td style="text-align:center;"><img src="https://sckolin.esports.cz/files/logos/KON.png" height="50">
</td>
<th style="text-align:center;"><strong>Porovnání týmů</strong>
</th>
<td style="text-align:center;"><img src="https://sckolin.esports.cz/files/logos/JIH.png" height="50">
</td>
</tr>
<tr>
</tr>
<tr bgcolor="gainsboro">
<td style="text-align:center;">x. místo (xx b.)
</td>
<th><center>Tabulka</center>
</th>
<td style="text-align:center;">x. místo (xx b.)
</td>
</tr>
<tr>
<td style="text-align:center;">xx:xx
</td>
<th><center>Skóre</center>
</th>
<td style="text-align:center;">xx:xx
</td>
</tr>
<tr>
</tr>
<tr bgcolor="gainsboro">
<td style="text-align:center;">xxx (x+xx)
</td>
<th><center>Lídr bodování</center>
</th>
<td style="text-align:center;"> xxx (x+x)
</td>
</tr>
<tr>
<td style="text-align:center;"> xxx (x gólů)
</td>
<th><center>Nejlepší střelec</center>
</th>
<td style="text-align:center;"> xxx<br> xxx (oba x gólů)
</td>
</tr>
<tr>
</tr>
<tr bgcolor="gainsboro">
<td style="text-align:center;"> xxx (3+6)<br> xxx (2+7)
</td>
<th><center>Nejproduktivnější obránce</center>
</th>
<td style="text-align:center;">xxx (x+x)
</td>
</tr>
<tr>
<td style="text-align:center;">xxx (xxx %) <br> xxx (xxx %)
</td>
<th><center>Brankáři</center>
</th>
<td style="text-align:center;"> xxx (xx,xx %) <br> xxx (xx,xx %)
</td>
</tr>
<tr>
</tr>
<tr bgcolor="gainsboro">
<td style="text-align:center;">Kolín – XXX 5:2
</td>
<th><center>Poslední zápas</center>
</th>
<td style="text-align:center;">XXX – XXX 3:5
</td>
</tr>
</tbody>
</table>
</p>
               </p>
            </div>
         </div>
      </div>
   </div>
   
</section>
<section class="c-topstory-section">
   <div class="container">
      <div class="row">
         <div class="col-lg-4">
            <a class="c-topstory__item mb-6" href="/article/893-Po-tydnu-opet-doma-Do-Kolina-prijede-Jihlavska-Dukla">
               <div class="c-topstory__img">
                  <img src="https://sckolin.esports.cz/files/articles_photo/893_foto-do-preview-jihlava.png" loading="lazy" alt="clanek-1">
               </div>
               <div class="c-topstory__info px-4 py-2">
                  <div class="d-flex align-items-center mb-1">
                     <div class="tag">A tým - preview</div>
                     <div class="date">09.12.2023</div>
                  </div>
                  <h2 class="h5">
                     Po týdnu opět doma! Do Kolína přijede Jihlavská Dukla
                  </h2>
               </div>
            </a>
         </div>
         <div class="col-lg-4">
            <a class="c-topstory__item mb-6" href="/article/894-Dorostenci-po-prohranem-derby-s-HC-Podebrady-zvitezili-nad-Pelhrimovem-15">
               <div class="c-topstory__img">
                  <img src="https://sckolin.esports.cz/files/articles_photo/894_dsc-0837.jpeg" loading="lazy" alt="clanek-1">
               </div>
               <div class="c-topstory__info px-4 py-2">
                  <div class="d-flex align-items-center mb-1">
                     <div class="tag">Mládež</div>
                     <div class="date">07.12.2023</div>
                  </div>
                  <h2 class="h5">
                     Dorostenci po prohraném derby s HC Poděbrady zvítězili nad Pelhřimovem 1:5
                  </h2>
               </div>
            </a>
         </div>
         <div class="col-lg-4">
            <a class="c-topstory__item mb-6" href="/article/891-S-Jihlavou-ve-specialnich-dresech-Kozla-Nozdra">
               <div class="c-topstory__img">
                  <img src="https://sckolin.esports.cz/files/articles_photo/891_dsc-0189.jpg" loading="lazy" alt="clanek-1">
               </div>
               <div class="c-topstory__info px-4 py-2">
                  <div class="d-flex align-items-center mb-1">
                     <div class="tag">Klub</div>
                     <div class="date">06.12.2023</div>
                  </div>
                  <h2 class="h5">
                     S Jihlavou ve speciálních dresech Kozla Nozdra!
                  </h2>
               </div>
            </a>
         </div>
      </div>
   </div>
</section>



{%
endblock %}

 