<section class="player-content-section">
   <div class="container-fluid">
      <div class="tabs-wrapper">
         <ul class="tabs menu-section__links">
            <li>
               <a href="#" class="tab " data-id="about">O HRÁČI</a>
            </li>
            <li>
               <a href="#" class="tab active" data-id="statistics">STATISTIKY</a>
            </li>
            <li>
               <a href="#" class="tab" data-id="gallery">FOTOGALERIE</a>
            </li>
            <li>
               <a href="#" class="tab" data-id="archiv">ČLÁNKY</a>
            </li>
         </ul>
         <div class="tab-content" id="about">
            <div class="o-content">
               <p>
                  Rodák z finské Lappeenranty se narodil 26. února 1994 a už od mládí prokazoval velký talent. Ve stejném městě, ve kterém se Henri Kiviaho narodil, také dlouhá léta hokejově rostl. Mezitím si vybojoval i stabilní místo v mládežnických reprezentacích Suomi. Před draftem do NHL se však 192 centimetrů brankář rozhodl pro změnu a přesunul se do 270 kilometrů vzdáleného Kuopia.
               </p>
               <p>
                  V KalPa Kuopio strávil mrštný maskovaný muž tři sezóny, ve kterých si dokonce odbyl debut ve finské Liize. Mimochodem na draftu uspěl, v pátém kole si ho vybral Dallas, se kterým později dokonce podepsal tříletý nováčkovský kontrakt. V zámoří se však neprosadil, zachytal si pouze v ECHL v dresu Idaho Steelheads.
               </p>
               <p>
                  A tak zvolil návrat do rodné vlasti, ve které si zachytal nejvyšší soutěž za Ässät Pori a také KalPa Kuopio. Příliš se mu však nedařilo v zápasech vyhrávat, proto plnil spíš roli dvojky. Zachytal si také druhou finskou ligu – Mestis, ze které se přesunul na Slovensko do Nových Zámků.
               </p>
               <p>
                  Ty dokázal v uplynulém ročníku dotáhnout přes Košice do čtvrtfinále, v něm ale Nové Zámky padly proti Zvolenu. Student mezinárodního byznysu na Univerzitě v Kuopiu se stal nejvytíženějším brankářem slovenské extraligy, ve 43 zápasech měl pátý nejlepší průměr inkasovaných branek na zápas – 2,60 a sedmou nejlepší úspěšnost zásahů – 91,51 %. Poté se rozhodl posunout v kariéře, a tak zvolil nabídku Mountfieldu HK.
               </p>
            </div>
         </div>
         <div class="tab-content tab-active" id="statistics">
            <div class="o-content">
               <h2>
                  Statistiky v sezóně
               </h2>
               <table>
                  <thead>
                     <tr>
                        <th>Zápasy</th>
                        <th>Góly</th>
                        <th>Asistence</th>
                        <th>Body</th>
                        <th>+/-</th>
                        <th>TM</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>5</td>
                        <td>2</td>
                        <td>1</td>
                        <td>3</td>
                        <td>12</td>
                        <td>333</td>
                     </tr>
                  </tbody>
               </table>
               <h2>
                  Posledních 5 zápasů
               </h2>
               <table>
                  <thead>
                     <tr>
                        <th>Datum</th>
                        <th>Kolo</th>
                        <th>Soutěž</th>
                        <th>Zápas</th>
                        <th>Skóre</th>
                        <th>A</th>
                        <th>G</th>
                        <th><strong>B</strong></th>
                        <th>+/-</th>
                        <th>TM</th>
                        <th>TOI</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>12.5.2022</td>
                        <td>12</td>
                        <td>Chance liga</td>
                        <td>SCM vs SLA</td>
                        <td>0:1</td>
                        <td>1</td>
                        <td>2</td>
                        <td><strong>12</strong></td>
                        <td>24</td>
                        <td>24</td>
                        <td>16:47</td>
                     </tr>
                     <tr>
                        <td>12.5.2022</td>
                        <td>12</td>
                        <td>Chance liga</td>
                        <td>SCM vs SLA</td>
                        <td>0:1</td>
                        <td>1</td>
                        <td>2</td>
                        <td><strong>12</strong></td>
                        <td>24</td>
                        <td>24</td>
                        <td>16:47</td>
                     </tr>
                     <tr>
                        <td>12.5.2022</td>
                        <td>12</td>
                        <td>Chance liga</td>
                        <td>SCM vs SLA</td>
                        <td>0:1</td>
                        <td>1</td>
                        <td>2</td>
                        <td><strong>12</strong></td>
                        <td>24</td>
                        <td>24</td>
                        <td>16:47</td>
                     </tr>
                     <tr>
                        <td>12.5.2022</td>
                        <td>12</td>
                        <td>Chance liga</td>
                        <td>SCM vs SLA</td>
                        <td>0:1</td>
                        <td>1</td>
                        <td>2</td>
                        <td><strong>12</strong></td>
                        <td>24</td>
                        <td>24</td>
                        <td>16:47</td>
                     </tr>
                     <tr>
                        <td>12.5.2022</td>
                        <td>12</td>
                        <td>Chance liga</td>
                        <td>SCM vs SLA</td>
                        <td>0:1</td>
                        <td>1</td>
                        <td>2</td>
                        <td><strong>12</strong></td>
                        <td>24</td>
                        <td>24</td>
                        <td>16:47</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
         <div class="tab-content" id="gallery">
            <ul class="row g-6 js-gallery">
               <li class="col-lg-4 col-sm-6">
                  <figure>
                     <a href="images/content/clanek-1.jpg" data-size="1024x1024">
                        <img src="images/content/clanek-1.jpg" loading="lazy" alt="" />
                     </a>
                  </figure>
               </li>
               <li class="col-lg-4 col-sm-6">
                  <figure>
                     <a href="images/content/clanek-1.jpg" data-size="1024x1024">
                        <img src="images/content/clanek-1.jpg" loading="lazy" alt="" />
                     </a>
                  </figure>
               </li>
               <li class="col-lg-4 col-sm-6">
                  <figure>
                     <a href="images/content/clanek-1.jpg" data-size="1024x1024">
                        <img src="images/content/clanek-1.jpg" loading="lazy" alt="" />
                     </a>
                  </figure>
               </li>
               <li class="col-lg-4 col-sm-6">
                  <figure>
                     <a href="images/content/clanek-1.jpg" data-size="1024x1024">
                        <img src="images/content/clanek-1.jpg" loading="lazy" alt="" />
                     </a>
                  </figure>
               </li>
               <li class="col-lg-4 col-sm-6">
                  <figure>
                     <a href="images/content/clanek-1.jpg" data-size="1024x1024">
                        <img src="images/content/clanek-1.jpg" loading="lazy" alt="" />
                     </a>
                  </figure>
               </li>
               <li class="col-lg-4 col-sm-6">
                  <figure>
                     <a href="images/content/clanek-1.jpg" data-size="1024x1024">
                        <img src="images/content/clanek-1.jpg" loading="lazy" alt="" />
                     </a>
                  </figure>
               </li>
               <li class="col-lg-4 col-sm-6">
                  <figure>
                     <a href="images/content/clanek-1.jpg" data-size="1024x1024">
                        <img src="images/content/clanek-1.jpg" loading="lazy" alt="" />
                     </a>
                  </figure>
               </li>
               <li class="col-lg-4 col-sm-6">
                  <figure>
                     <a href="images/content/clanek-1.jpg" data-size="1024x1024">
                        <img src="images/content/clanek-1.jpg" loading="lazy" alt="" />
                     </a>
                  </figure>
               </li>
               <li class="col-lg-4 col-sm-6">
                  <figure>
                     <a href="images/content/clanek-1.jpg" data-size="1024x1024">
                        <img src="images/content/clanek-1.jpg" loading="lazy" alt="" />
                     </a>
                  </figure>
               </li>
               <li class="col-lg-4 col-sm-6">
                  <figure>
                     <a href="images/content/clanek-1.jpg" data-size="1024x1024">
                        <img src="images/content/clanek-1.jpg" loading="lazy" alt="" />
                     </a>
                  </figure>
               </li>
               <li class="col-lg-4 col-sm-6">
                  <figure>
                     <a href="images/content/clanek-1.jpg" data-size="1024x1024">
                        <img src="images/content/clanek-1.jpg" loading="lazy" alt="" />
                     </a>
                  </figure>
               </li>
            </ul>
         </div>
         <div class="tab-content" id="archiv">
            {% include "@components/post/post.twig" %}
            {% include "@components/post/post.twig" %}
            {% include "@components/post/post.twig" %}
            {% include "@components/post/post.twig" %}
            {% include "@components/post/post.twig" %}
            {% include "@components/post/post.twig" %}
         </div>
      </div>
   </div>
</section>