<section class="c-juniors-section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg mr-lg-4 pl-lg-2 pr-0">
        <h2 class="h2 mb-8">Mládež</h2>
        <ul class="c-juniors-list">
          <li>
            <a class="active" href="#">U19</a>
          </li>
          <li>
            <a href="#">U17</a>
          </li>
          <li>
            <a href="#">U16</a>
          </li>
          <li>
            <a href="#">U15</a>
          </li>
          <li>
            <a href="#">U14</a>
          </li>
          <li>
            <a href="#">U13</a>
          </li>
          <li>
            <a href="#">U12</a>
          </li>
          <li>
            <a href="#">U11</a>
          </li>
          <li>
            <a href="#">U10</a>
          </li>
        </ul>
        <div class="tabs-wrapper">
          <ul class="tabs menu-section__links">
            <li>
              <a href="#" class="tab" data-id="1">Články</a>
            </li>
            <li>
              <a href="#" class="tab active" data-id="2">Zápasy</a>
            </li>
            <li>
              <a href="#" class="tab" data-id="3">Soupiska</a>
            </li>
          </ul>
          <div class="tab-content" id="1">
            <div class="row">
              {% include "@components/post/post.twig" %} {% include
              "@components/post/post.twig" %} {% include
              "@components/post/post.twig" %} {% include
              "@components/post/post.twig" %} {% include
              "@components/post/post.twig" %} {% include
              "@components/post/post.twig" %} {% include
              "@components/post/post.twig" %} {% include
              "@components/post/post.twig" %}
            </div>
            {% include "@components/pagination/pagination.twig" %}
          </div>
          <div class="tab-content tab-active" id="2">
            <div class="c-matches-section">
              <div
                class="row m-0 p-3 align-items-center c-matches-section__item"
              >
                <div
                  class="col-5 col-lg-3 col-xl-2 mb-4 mb-xl-0 text-left text-md-center c-matches-section__logos"
                >
                  <img src="images/ico/logo.svg" loading="lazy" alt="" />
                  <img src="images/ico/logo.svg" loading="lazy" alt="" />
                </div>
                <div
                  class="col-lg-4 col-xl mb-4 mb-xl-0 c-matches-section__teams"
                >
                  <p>5. srpna 2021</p>
                  <h3>SC Marimex Kolín - HC Slavia Praha</h3>
                </div>
                <div class="col-1 mb-xl-0 text-center c-matches-section__score">
                  <span> 3:1</span>
                </div>
                <div
                  class="col-12 col-md col-xl-3 text-center mb-lg-0 text-xl-left"
                >
                  <ul class="match__links">
                    <li>
                      <a href="#"> {% include "@images/match-info.svg" %} </a>
                    </li>
                    <li>
                      <a href="#"> {% include "@images/match-video.svg" %} </a>
                    </li>
                    <li>
                      <a href="#"> {% include "@images/match-radio.svg" %} </a>
                    </li>
                    <li>
                      <a href="#"> {% include "@images/match-photo.svg" %} </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div
                class="row m-0 p-3 align-items-center c-matches-section__item"
              >
                <div
                  class="col-5 col-lg-3 col-xl-2 mb-4 mb-xl-0 text-left text-md-center c-matches-section__logos"
                >
                  <img src="images/ico/logo.svg" loading="lazy" alt="" />
                  <img src="images/ico/logo.svg" loading="lazy" alt="" />
                </div>
                <div
                  class="col-lg-4 col-xl mb-4 mb-xl-0 c-matches-section__teams"
                >
                  <p>5. srpna 2021</p>
                  <h3>SC Marimex Kolín - HC Slavia Praha</h3>
                </div>

                <div
                  class="col-12 col-md col-xl-3 text-center mb-4 mb-lg-0 text-xl-left"
                >
                  <ul class="match__links"></ul>
                </div>
                <div
                  class="col-1 mb-4 mb-xl-0 text-center c-matches-section__score"
                >
                  <a href="#">15:00</a>
                </div>
              </div>
              <div
                class="row m-0 p-3 align-items-center c-matches-section__item"
              >
                <div
                  class="col-5 col-lg-3 col-xl-2 mb-4 mb-xl-0 text-left text-md-center c-matches-section__logos"
                >
                  <img src="images/ico/logo.svg" loading="lazy" alt="" />
                  <img src="images/ico/logo.svg" loading="lazy" alt="" />
                </div>
                <div
                  class="col-lg-4 col-xl mb-4 mb-xl-0 c-matches-section__teams"
                >
                  <p>5. srpna 2021</p>
                  <h3>SC Marimex Kolín - HC Slavia Praha</h3>
                </div>
                <div
                  class="col-1 mb-4 mb-xl-0 text-center c-matches-section__score"
                >
                  <span> 3:1</span>
                </div>
                <div
                  class="col-12 col-md col-xl-3 text-center mb-4 mb-lg-0 text-xl-left"
                >
                  <ul class="match__links">
                    <li>
                      <a href="#"> {% include "@images/match-info.svg" %} </a>
                    </li>
                    <li>
                      <a href="#"> {% include "@images/match-video.svg" %} </a>
                    </li>
                    <li>
                      <a href="#"> {% include "@images/match-radio.svg" %} </a>
                    </li>
                    <li>
                      <a href="#"> {% include "@images/match-photo.svg" %} </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div
                class="row m-0 p-3 align-items-center c-matches-section__item"
              >
                <div
                  class="col-5 col-lg-3 col-xl-2 mb-4 mb-xl-0 text-left text-md-center c-matches-section__logos"
                >
                  <img src="images/ico/logo.svg" loading="lazy" alt="" />
                  <img src="images/ico/logo.svg" loading="lazy" alt="" />
                </div>
                <div
                  class="col-lg-4 col-xl mb-4 mb-xl-0 c-matches-section__teams"
                >
                  <p>5. srpna 2021</p>
                  <h3>SC Marimex Kolín - HC Slavia Praha</h3>
                </div>

                <div
                  class="col-12 col-md col-xl-3 text-center mb-4 mb-lg-0 text-xl-left"
                >
                  <ul class="match__links"></ul>
                </div>
                <div
                  class="col-1 mb-4 mb-xl-0 text-center c-matches-section__score"
                >
                  <a href="#">15:00</a>
                </div>
              </div>
              <div
                class="row m-0 p-3 align-items-center c-matches-section__item"
              >
                <div
                  class="col-5 col-lg-3 col-xl-2 mb-4 mb-xl-0 text-left text-md-center c-matches-section__logos"
                >
                  <img src="images/ico/logo.svg" loading="lazy" alt="" />
                  <img src="images/ico/logo.svg" loading="lazy" alt="" />
                </div>
                <div
                  class="col-lg-4 col-xl mb-4 mb-xl-0 c-matches-section__teams"
                >
                  <p>5. srpna 2021</p>
                  <h3>SC Marimex Kolín - HC Slavia Praha</h3>
                </div>
                <div
                  class="col-1 mb-4 mb-xl-0 text-center c-matches-section__score"
                >
                  <span> 3:1</span>
                </div>
                <div
                  class="col-12 col-md col-xl-3 text-center mb-4 mb-lg-0 text-xl-left"
                >
                  <ul class="match__links">
                    <li>
                      <a href="#"> {% include "@images/match-info.svg" %} </a>
                    </li>
                    <li>
                      <a href="#"> {% include "@images/match-video.svg" %} </a>
                    </li>
                    <li>
                      <a href="#"> {% include "@images/match-radio.svg" %} </a>
                    </li>
                    <li>
                      <a href="#"> {% include "@images/match-photo.svg" %} </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div
                class="row m-0 p-3 align-items-center c-matches-section__item"
              >
                <div
                  class="col-5 col-lg-3 col-xl-2 mb-4 mb-xl-0 text-left text-md-center c-matches-section__logos"
                >
                  <img src="images/ico/logo.svg" loading="lazy" alt="" />
                  <img src="images/ico/logo.svg" loading="lazy" alt="" />
                </div>
                <div
                  class="col-lg-4 col-xl mb-4 mb-xl-0 c-matches-section__teams"
                >
                  <p>5. srpna 2021</p>
                  <h3>SC Marimex Kolín - HC Slavia Praha</h3>
                </div>

                <div
                  class="col-12 col-md col-xl-3 text-center mb-4 mb-lg-0 text-xl-left"
                >
                  <ul class="match__links"></ul>
                </div>
                <div
                  class="col-1 mb-4 mb-xl-0 text-center c-matches-section__score"
                >
                  <a href="#">15:00</a>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-content" id="3">
            <h2 class="h2 mb-4" id="brankari">Brankáři</h2>
            <ul class="row">
              <li class="col-lg-4 col-sm-6">
                <a class="c-team__item" href="#">
                  <div class="c-team__img">
                    <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                    <span>99</span>
                  </div>
                  <div class="c-team__info">
                    <span>Karel Novotný</span>
                    <p class="p3">21 let / 21. 12. 2000 / 177 cm / 76 kg / L</p>
                  </div>
                </a>
              </li>
              <li class="col-lg-4 col-sm-6">
                <a class="c-team__item" href="#">
                  <div class="c-team__img">
                    <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                    <span>99</span>
                  </div>
                  <div class="c-team__info">
                    <span>Karel Novotný</span>
                    <p class="p3">21 let / 21. 12. 2000 / 177 cm / 76 kg / L</p>
                  </div>
                </a>
              </li>
              <li class="col-lg-4 col-sm-6">
                <a class="c-team__item" href="#">
                  <div class="c-team__img">
                    <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                    <span>99</span>
                  </div>
                  <div class="c-team__info">
                    <span>Karel Novotný</span>
                    <p class="p3">21 let / 21. 12. 2000 / 177 cm / 76 kg / L</p>
                  </div>
                </a>
              </li>
            </ul>
            <h2 class="h2 mb-4" id="obranci">Obránci</h2>
            <ul class="row">
              <li class="col-lg-4 col-sm-6">
                <a class="c-team__item" href="#">
                  <div class="c-team__img">
                    <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                    <span>99</span>
                  </div>
                  <div class="c-team__info">
                    <span>Karel Novotný</span>
                    <p class="p3">21 let / 21. 12. 2000 / 177 cm / 76 kg / L</p>
                  </div>
                </a>
              </li>
              <li class="col-lg-4 col-sm-6">
                <a class="c-team__item" href="#">
                  <div class="c-team__img">
                    <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                    <span>99</span>
                  </div>
                  <div class="c-team__info">
                    <span>Karel Novotný</span>
                    <p class="p3">21 let / 21. 12. 2000 / 177 cm / 76 kg / L</p>
                  </div>
                </a>
              </li>
              <li class="col-lg-4 col-sm-6">
                <a class="c-team__item" href="#">
                  <div class="c-team__img">
                    <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                    <span>99</span>
                  </div>
                  <div class="c-team__info">
                    <span>Karel Novotný</span>
                    <p class="p3">21 let / 21. 12. 2000 / 177 cm / 76 kg / L</p>
                  </div>
                </a>
              </li>
              <li class="col-lg-4 col-sm-6">
                <a class="c-team__item" href="#">
                  <div class="c-team__img">
                    <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                    <span>99</span>
                  </div>
                  <div class="c-team__info">
                    <span>Karel Novotný</span>
                    <p class="p3">21 let / 21. 12. 2000 / 177 cm / 76 kg / L</p>
                  </div>
                </a>
              </li>
              <li class="col-lg-4 col-sm-6">
                <a class="c-team__item" href="#">
                  <div class="c-team__img">
                    <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                    <span>99</span>
                  </div>
                  <div class="c-team__info">
                    <span>Karel Novotný</span>
                    <p class="p3">21 let / 21. 12. 2000 / 177 cm / 76 kg / L</p>
                  </div>
                </a>
              </li>
              <li class="col-lg-4 col-sm-6">
                <a class="c-team__item" href="#">
                  <div class="c-team__img">
                    <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                    <span>99</span>
                  </div>
                  <div class="c-team__info">
                    <span>Karel Novotný</span>
                    <p class="p3">21 let / 21. 12. 2000 / 177 cm / 76 kg / L</p>
                  </div>
                </a>
              </li>
              <li class="col-lg-4 col-sm-6">
                <a class="c-team__item" href="#">
                  <div class="c-team__img">
                    <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                    <span>99</span>
                  </div>
                  <div class="c-team__info">
                    <span>Karel Novotný</span>
                    <p class="p3">21 let / 21. 12. 2000 / 177 cm / 76 kg / L</p>
                  </div>
                </a>
              </li>
              <li class="col-lg-4 col-sm-6">
                <a class="c-team__item" href="#">
                  <div class="c-team__img">
                    <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                    <span>99</span>
                  </div>
                  <div class="c-team__info">
                    <span>Karel Novotný</span>
                    <p class="p3">21 let / 21. 12. 2000 / 177 cm / 76 kg / L</p>
                  </div>
                </a>
              </li>
            </ul>
            <h2 class="h2 mb-4" id="utocnici">Útočníci</h2>
            <ul class="row">
              <li class="col-lg-4 col-sm-6">
                <a class="c-team__item" href="#">
                  <div class="c-team__img">
                    <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                    <span>99</span>
                  </div>
                  <div class="c-team__info">
                    <span>Karel Novotný</span>
                    <p class="p3">21 let / 21. 12. 2000 / 177 cm / 76 kg / L</p>
                  </div>
                </a>
              </li>
              <li class="col-lg-4 col-sm-6">
                <a class="c-team__item" href="#">
                  <div class="c-team__img">
                    <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                    <span>99</span>
                  </div>
                  <div class="c-team__info">
                    <span>Karel Novotný</span>
                    <p class="p3">21 let / 21. 12. 2000 / 177 cm / 76 kg / L</p>
                  </div>
                </a>
              </li>
              <li class="col-lg-4 col-sm-6">
                <a class="c-team__item" href="#">
                  <div class="c-team__img">
                    <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                    <span>99</span>
                  </div>
                  <div class="c-team__info">
                    <span>Karel Novotný</span>
                    <p class="p3">21 let / 21. 12. 2000 / 177 cm / 76 kg / L</p>
                  </div>
                </a>
              </li>
              <li class="col-lg-4 col-sm-6">
                <a class="c-team__item" href="#">
                  <div class="c-team__img">
                    <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                    <span>99</span>
                  </div>
                  <div class="c-team__info">
                    <span>Karel Novotný</span>
                    <p class="p3">21 let / 21. 12. 2000 / 177 cm / 76 kg / L</p>
                  </div>
                </a>
              </li>
              <li class="col-lg-4 col-sm-6">
                <a class="c-team__item" href="#">
                  <div class="c-team__img">
                    <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                    <span>99</span>
                  </div>
                  <div class="c-team__info">
                    <span>Karel Novotný</span>
                    <p class="p3">21 let / 21. 12. 2000 / 177 cm / 76 kg / L</p>
                  </div>
                </a>
              </li>
              <li class="col-lg-4 col-sm-6">
                <a class="c-team__item" href="#">
                  <div class="c-team__img">
                    <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                    <span>99</span>
                  </div>
                  <div class="c-team__info">
                    <span>Karel Novotný</span>
                    <p class="p3">21 let / 21. 12. 2000 / 177 cm / 76 kg / L</p>
                  </div>
                </a>
              </li>
              <li class="col-lg-4 col-sm-6">
                <a class="c-team__item" href="#">
                  <div class="c-team__img">
                    <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                    <span>99</span>
                  </div>
                  <div class="c-team__info">
                    <span>Karel Novotný</span>
                    <p class="p3">21 let / 21. 12. 2000 / 177 cm / 76 kg / L</p>
                  </div>
                </a>
              </li>
              <li class="col-lg-4 col-sm-6">
                <a class="c-team__item" href="#">
                  <div class="c-team__img">
                    <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                    <span>99</span>
                  </div>
                  <div class="c-team__info">
                    <span>Karel Novotný</span>
                    <p class="p3">21 let / 21. 12. 2000 / 177 cm / 76 kg / L</p>
                  </div>
                </a>
              </li>

              <li class="col-lg-4 col-sm-6">
                <a class="c-team__item" href="#">
                  <div class="c-team__img">
                    <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                    <span>99</span>
                  </div>
                  <div class="c-team__info">
                    <span>Karel Novotný</span>
                    <p class="p3">21 let / 21. 12. 2000 / 177 cm / 76 kg / L</p>
                  </div>
                </a>
              </li>
              <li class="col-lg-4 col-sm-6">
                <a class="c-team__item" href="#">
                  <div class="c-team__img">
                    <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                    <span>99</span>
                  </div>
                  <div class="c-team__info">
                    <span>Karel Novotný</span>
                    <p class="p3">21 let / 21. 12. 2000 / 177 cm / 76 kg / L</p>
                  </div>
                </a>
              </li>
              <li class="col-lg-4 col-sm-6">
                <a class="c-team__item" href="#">
                  <div class="c-team__img">
                    <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                    <span>99</span>
                  </div>
                  <div class="c-team__info">
                    <span>Karel Novotný</span>
                    <p class="p3">21 let / 21. 12. 2000 / 177 cm / 76 kg / L</p>
                  </div>
                </a>
              </li>
              <li class="col-lg-4 col-sm-6">
                <a class="c-team__item" href="#">
                  <div class="c-team__img">
                    <img src="images/content/hrac.jpeg" loading="lazy" alt="" />
                    <span>99</span>
                  </div>
                  <div class="c-team__info">
                    <span>Karel Novotný</span>
                    <p class="p3">21 let / 21. 12. 2000 / 177 cm / 76 kg / L</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
