<section class="c-topstory-section">
   <div class="container">
      <div class="row">
         <div class="col-lg-4">
            <a class="c-topstory__item mb-6" href="#">
               <div class="c-topstory__img">
                  <img src="images/content/clanek-1.jpg" loading="lazy" alt="clanek-1">
               </div>
               <div class="c-topstory__info px-4 py-2">
                  <div class="d-flex align-items-center mb-1">
                     <div class="tag">A-tým</div>
                     <div class="date">19. dubna 2022</div>
                  </div>
                  <h2 class="h5">
                     3. ročník projektu O Kapku lepší hokej zajistil dětem přes 900 000!
                  </h2>
               </div>
            </a>
         </div>
         <div class="col-lg-4">
            <a class="c-topstory__item mb-6" href="#">
               <div class="c-topstory__img">
                  <img src="images/content/clanek-1.jpg" loading="lazy" alt="clanek-1">
               </div>
               <div class="c-topstory__info px-4 py-2">
                  <div class="d-flex align-items-center mb-1">
                     <div class="tag">A-tým</div>
                     <div class="date">19. dubna 2022</div>
                  </div>
                  <h2 class="h5">
                     3. ročník projektu O Kapku lepší hokej zajistil dětem přes 900 000!
                  </h2>
               </div>
            </a>
         </div>
         <div class="col-lg-4">
            <a class="c-topstory__item mb-6" href="#">
               <div class="c-topstory__img">
                  <img src="images/content/clanek-1.jpg" loading="lazy" alt="clanek-1">
               </div>
               <div class="c-topstory__info px-4 py-2">
                  <div class="d-flex align-items-center mb-1">
                     <div class="tag">A-tým</div>
                     <div class="date">19. dubna 2022</div>
                  </div>
                  <h2 class="h5">
                     3. ročník projektu O Kapku lepší hokej zajistil dětem přes 900 000!
                  </h2>
               </div>
            </a>
         </div>
      </div>
   </div>
</section>